[2018-06-01 23:50] peeinears commented on #214
Toootallly. I am using `react-stripe-elements` elsewhere, so it's already in my bundle, and since it comes with `<StripeProvider/>` and `inject` (which I like!) I figured I'd use them. Just saw an opportunity to make the provider/inject pattern more generalized. Thanks :)

[2018-06-01 23:56] jez commented on #214
👍 closing because I think this is mostly resolved / won't do.

Thanks!

[2018-06-01 23:56] #214 closed

[2018-06-02 01:15] heffernq13 commented on #98
Hello,
I am currently experiencing this same issue and wondered if you could give some more info about what other library the error was coming from so that I can attempt to debug with a little more precision.

Thank You

[2018-06-02 20:17] taykcrane commented on #198
@atty-stripe Forgive the potentially beginner question, I'm specifically looking for a way to build a stripe integration with JUST a react front-end, no back-end at all. I've read through the docs here and I thought React-stripe-elements was a solution for this, since I see no mention of requiring a backend of any kind. Am I mistaken? Where in the docs does it rely on or discuss this?

[2018-06-02 21:03] atty-stripe commented on #198
@taykcrane processing payments with Stripe is always a two-step process:
collecting payment information on the client-side, then creating charges
from your server using your secret key.

Our quickstart explains this a bit better:
https://stripe.com/docs/stripe-js/elements/quickstart

You can use one of our server side bindings to create charges easily.

react-stripe-elements is a thin wrapper over

[2018-06-02 22:45] BrodaNoel commented on #171
@asolove-stripe I have the same question as @kongakong.
I have to implement the coupons/discounts that Strip already provide (https://stripe.com/docs/billing/subscriptions/discounts) and I see there is no UI component related

[2018-06-04 12:06] BorisBresciani opened #215 "3D Secure flow with react/stripe"
Hello,

In the case where the user enters a card whose 3DSecure is obligatory, I redirect the user but how do I manage the return to know if the source has passed into "chargeable" status?

My code:
[code]

Boris

[2018-06-04 15:11] asolove-stripe commented on #171
Hi @BrodaNoel! Sorry, but this library does not currently contain any UI for collecting coupon codes. We [recommend](https://stripe.com/docs/recipes/coupons-for-charges#improving-the-user-experience) building a UI that collects the code in a text input and use ajax to see if the code is valid and to update the prices shown on your checkout UI.

[2018-06-04 15:16] asolove-stripe commented on #215
Hi @BorisBresciani!

(BTW, this Github repo is specifically for the React wrapper for stripe.js. Questions like this about the behavior of Stripe APIs will get answered faster if they go to [Stripe Support](https://support.stripe.com/)).

The [3DS Source integration guide](https://stripe.com/docs/sources/three-d-secure#customer-action) describes how to ensure the user is redirected back to your si

[2018-06-04 15:17] #215 closed

[2018-06-12 01:53] RichardCKLi commented on #98
@brianwallerstein Hi Brian, I have the same comment as @heffernq13. Could you provide more details about how you use the other library that caused the issue? Or more simply, what's the root cause?

[2018-06-12 09:58] alexander-v-ysbm commented on #174
Hi to All, I thing you get the separate problem to my at iOS maybe somebody can help me with stripe elements, I have use vue-stripe-elemetns and stripe-client packages but still get this on iPhone Safari.
When I focus one of element it become to send requests to get some gif from stripe server, but real phone just freezing down.
https://drive.google.com/file/d/13zxxwjFw4LKbEGumPRrbgczpMY59L8j2/vie

[2018-06-12 16:36] oliviertassinari commented on #164
I have been using an approach very close to @lfalke's gist. It's a great starting point 👌.

[2018-06-17 09:21] tonag commented on #165
@atty-stripe  it seems that in v3 hidePostalCode seems not to work as you can see from this fiddle.  https://jsfiddle.net/ywain/5yz4z2yn/
Any idea?

[2018-06-18 16:20] rdalfonso commented on #38
@indiesquidge
I've set up my checkout component form using react-stripe-elements' and my onsubmit handler is returning the stripe token. I'm just not sure what I'm supposed to do now?
1. Does  react-stripe-elements handle the API call for making the payment for me using my test API key?
2. Or do I need to take the token and do the API call myself using the token that's returned?

[2018-06-18 16:41] rdalfonso commented on #47
Where in the process is the payment made to Stripe?
I've been able to setup my form component using individual form components CardElement, CardNumberElement, CardExpiryElement, CardCVCElement) and I'm getting back the strip token.
What I don't understand is where the payment (amount, currency, stripe token, etc) is supposed to occur?

[2018-06-18 17:22] jez commented on #47
@rdalfonso You need to send the token to your backend server, and use your Stripe API secret key to POST to the /v1/charges endpoint:

https://stripe.com/docs/charges

[2018-06-18 18:59] atty-stripe commented on #38
@rdalfonso once you get the token, you need to send it to your backend, which should call the Stripe API at /v1/charges. You can use on of our server side bindings to help you do this. More instructions in our docs here: https://stripe.com/docs/charges.

[2018-06-18 19:01] atty-stripe commented on #165
@tonag the "ZIP code" field in that example seems to be from the HTML, and not related to Stripe Elements. `hidePostalCode` hides the postal code field within the `card` Element.

[2018-06-18 21:16] rdalfonso commented on #38
@atty-stripe -  I came to that same conclusion after re-re-reading the documentation. Thought I could make an API call from the browser. Problem is solved. Thanks!

[2018-06-21 10:35] jike212 commented on #98
Also having the same issue

[2018-06-23 21:01] bcanseco opened #216 "Passing fonts to <Elements> breaks within a shadow DOM in Chrome"
## [Minimal reproduction](https://codepen.io/anon/pen/vrrRxg?editors=1010) (use Chrome)

### Environment

* Chrome v67.0.3396.87 (64bit)
* react-stripe-elements@2.0.0

### Summary

When using stripe elements within a shadow root, passing external fonts to the `<Elements>` component will result in the iframe form getting an inline `visibility: hidden` style.

![chrome_2018-06-23_14-24-42](https://u

[2018-06-25 12:49] lucvanloon commented on #137
We would like to turn off automations too, although there are quite nice, we feel they're a bit unnecessary.

[2018-06-28 18:29] paolavness commented on #98
CRITICAL - Just experiencing this for the first time on our app in both production and developements. In our case, the placeholders for the cc details are missing as a result - ie we cannot take payment. Yikes!

Any news on this?

We've been using stripe for a while and were literally taking payments a couple of days back... Nothing has changed on our side. So much be something on stripe side?

Ne

[2018-06-28 18:33] paolavness commented on #98
Just to add to the above -
Using `"react-stripe-elements": "^1.2.0"`, experiencing issue in Chrome 67 only. Firefox 60 and Safari 11 (all on Mac High Safari) working fine.

[2018-06-28 18:42] atty-stripe commented on #98
@paolavness can you link to your page or make a minimal reproduction? As noted, this error happens when JavaScript on your page / in a browser extension tries to access the Stripe iframes.

We haven't seen the degradation elsewhere on Chrome 67, so I would also check for any browser extensions and any changes in your codebase.

[2018-06-28 18:49] paolavness commented on #98
@atty-stripe thank you for the quick reply. Is there a way I can PM you details, possibly via our Stripe account?

[2018-06-28 18:51] atty-stripe commented on #98
Feel free to write into support@stripe.com and cc me at atty@stripe.com.

[2018-06-28 18:53] paolavness commented on #98
Great doing so now :) I've also just tried upgrading to elements 2.0.1 with no luck.

[2018-06-28 19:04] paolavness commented on #98
Have just sent with response & request headers.

[2018-06-29 00:36] paolavness commented on #98
For others who experienced this, here is a summary of how I experienced this and how it was resolved.

**Issue**
`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://js.stripe.com') does not match the recipient window's origin ('mysite.com')`

The result was the placeholders for enter card number, cvc and expiry did not appear on our webapp. Although the call to `h

[2018-06-29 03:54] edschofield commented on #20
@atty-stripe @jenan-stripe  : The "smart" zip code validation makes the incorrect assumption that every US card is associated with a 5-digit US zip code. In the case where a US credit card has a registered billing address and postcode in another country (e.g. for an Australian subsidiary of a US company), this causes Stripe to require a 5-digit US zip code, when none exists. This can lead to valid

[2018-06-29 04:55] atty-stripe commented on #20
@edschofield this is a known problem unfortunately, and something we're actively working on addressing! One reason it happens is because we show postal code based on a dataset mapping card numbers to countries, but the dataset is sometimes wrong. And in some cases even if the data is correct, as you point out, the actual address might be a different country.

Could you share the first 6 digits of

[2018-06-29 05:50] matt-stripe commented on #216
@bcanseco Hi! Thanks for writing in. I'm Matt and I work at Stripe. You are totally right here--Elements is currently not compatible with shadow DOM. We have this on our backlog and are looking forward to addressing it in the future (no concrete timeline at the moment unfortunately). I will be sure to let you know when the fix does roll out!

[2018-06-29 06:35] #216 closed

[2018-07-03 17:35] rogerrogers commented on #20
I'm getting the same problem here. Maybe the postcode should be a required field, but lessen the format validation rules?

[2018-07-03 19:03] atty-stripe commented on #20
@rogerrogers can you share the first 6 digits of the card number please? Feel free to post here  or email me at atty@stripe.com. The first 6 digits are safe to share publicly.

[2018-07-04 01:09] rogerrogers commented on #20
Hi @atty-stripe, in fact, you can use any of the US cards in the stripe test cards, e.g. 4242424242424242 and then try entering a Canadian postcode, which is made of letters, numbers and a space (similar to UK postcodes).

That said, I may be posting this in the wrong forum. I'm using the Stripe Elements and having this problem, not the react library.

[2018-07-04 01:33] jez commented on #20
@rogerrogers 4242 is specifically a US test card. We have a number of international test numbers here:

https://stripe.com/docs/testing#international-cards

when you try with the Canadian test card, do you see the same issue?

[code]

[2018-07-04 01:37] rogerrogers commented on #20
@jez The specific case we're trying to resolve is where the card is a US/USD card, but the postcode is Canadian. Because the card is US the Elements form will only allow an all numeric US zipcode, even though the card's billing address is linked to a Canadian postcode.

[2018-07-04 02:41] atty-stripe commented on #20
@rogerrogers I understand! Elements specifically shows US zipcode entry for cards we think map to the US. If you can share the specific BIN (first 6 digits) of the card that's mismatched, I'd love to dig further. Sometimes it's a US card that uniquely has a Canadian billing address, but other times it's actually a CA card that was mismatched to the US.

[2018-07-04 02:46] rogerrogers commented on #20
Hi @atty-stripe. I don't actually have the card number, so I can't tell you the first digits. Sorry about that. I was simply told of the situation by a donor (the scenario is a donation form) who couldn't donate because the US card had a Canadian billing address. We ended up having to process the donation via a PayPal form, which was a bit frustrating given we just switched from PayPal to Stripe!

[2018-07-04 11:18] SuryaAcube opened #217 "Unable to enter card information(In stripe elements) in ios mobile app."
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary
We developed our web-application in react.We developed mobile application using Phonegap(software development framework which uses web application code).In that IOS app react-stripe-elements are not working.I am not able to enter card number,ccv

[2018-07-04 16:52] rogerrogers commented on #20
Thanks @atty-stripe, look forward to the fix and thanks for the quick response!

[2018-07-05 00:17] mizoguche commented on #26
`elementRef` seems deprecated in #181 and removed in #210

[2018-07-06 10:38] rubencosta opened #218 "Ids containing invalid chars cause error"
### Summary

https://codesandbox.io/s/5x080mo714

Passing an `id` prop with a `.` causes Elements to make a querySelector using that id without escaping it. According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector#Notes) some chars have to be escaped when used as selectors.

### Other information

I raised this issue first in the IRC and it was recommended to me b

[2018-07-09 16:38] suprMax commented on #19
is there a link to v2 documentation somewhere? i would prefer to use least amount of 3rd party code possible

[2018-07-09 16:53] atty-stripe commented on #19
To expand on Jenan's comment above, using Stripe.js v2 will subject you to PCI SAQ A-EP level compliance, which requires you to upload your [A-EP form](https://www.pcisecuritystandards.org/documents/PCI-DSS-v3_2-SAQ-A_EP-rev1_1.pdf) to Stripe to verify compliance (usually a good amount of work.)

To maintain the simplest level of PCI compliance, Elements renders form inputs within iframes, while a

[2018-07-10 10:51] anttikon commented on #217
@SuryaAcube I got it to work by adding `<allow-navigation href="*://js.stripe.com/*" />` to `config.xml` 🌞✌️

[2018-07-10 10:53] SuryaAcube commented on #217
@anttikon Thank you so much.

[2018-07-10 11:15] #217 closed

[2018-07-10 16:01] oodavid commented on #136
Not great since you can always tab into the iframe, regardless of some overlay

[2018-07-11 13:39] rogerrogers commented on #20
Hi, adding to this thread, I've now got a complaint that an AMEX card in Australia isn't accepted because Stripe won't accept a 4 digit Australian postcode. This seems like a pretty major issue. Again, I'm not sure if I'm posting this in the correct thread. We're using the JS elements card form provided by Stripe.

[2018-07-11 18:34] atty-stripe commented on #20
@rogerrogers rest assured, we're working on it and will have a fix out soon. Our AMEX data set is being upgraded to fix it quickly, and we're also looking at more long term fixes. Will keep you posted!

(react-stripe-elements basically wraps Stripe.js and Elements. In the future, the best place to get support is via email, chat, phone, or IRC. See more here: https://support.stripe.com/.)

[2018-07-11 19:00] dereksweet opened #219 "Problems with React Native for Web?"
### Summary

We are using the components with React Native for Web, and we seem to have an issue when touching the inputs for the elements on a mobile device. Seems that we can click into the inputs sometimes, but if we dismiss the keyboard, click on the background of the page, then click the input it won't focus into it. Sometimes takes 5 or 6 presses before it finally gets picked up and focuses

[2018-07-12 00:46] rogerrogers commented on #20
@atty-stripe Thanks for clarifying, glad I'm in the right place. I assume this thread will be updated when the fix has been committed? Cheers!

[2018-07-12 14:43] cleemputc opened #221 "Loading fonts from http not allowed on local environment"
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary
We are adding fonts from our assets to the stripe elements in the following manner:

[code]

In our development environment we are not going through https, so we are getting an error, see below.

### Other information

![screen shot 2018-07-10 a

[2018-07-13 06:09] trip16661 opened #222 "Stripe js v3 doesn't load with AdBlock"
I am developing a simple React app with SSR, and have found that Stripe.js doesn't load while AdBlock is enabled. Please have a look at the below:

**Console when AdBlock is turned off**
<img width="484" alt="screen shot 2018-07-13 at 2 58 10 am" src="https://user-images.githubusercontent.com/17633551/42675261-a2b9dc62-8649-11e8-92cc-9133ba2cc32c.png">

**Console when AdBlock is turned on**
<img w

[2018-07-15 18:34] binomialstew commented on #174
@alexander-v-ysbm, I'm seeing the same issue but using the current version of stripe.js directly with no wrapper. Using `element.focus()` is causing an infinite loop of alternating blur/focus `GET` requests to some gif on `q.stripe.com`, like you said. This effectively locks the site. I don't really understand why this is trying to get a gif, but it is sending `elements.event.focus` and `elements.

[2018-07-16 16:57] asolove-stripe commented on #219
Hey @dereksweet, thanks for reporting this! I would guess it is related to assumptions we make that don't fit with React Native for Web, but it's hard to say. Do you by chance have a public url (or a private demo you can email to just me) so that I can try to reproduce?

[2018-07-16 17:30] binomialstew commented on #174
@asolove-stripe, thanks for reaching out.

I just looked at this again and realize it was my fault. I'm using a `setOutcome()` function both on element change and form submit that uses the `element.focus()` method, like [this example](https://jsfiddle.net/ywain/whj357u9/). When I remove the function on change, there is no infinite loop. It seems there is a change event in iOS on submit that is not

[2018-07-17 06:50] vishalkharat opened #223 "createToken method returns token as undefined if 'pk_test_XXX' is invalid key."
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

When we tried to generate the Token using wrong key, createToken method returns result set as `undefined`.

### Summary

createToken should return an error code along with error message so that application can track it and handle it.
Otherwise for all error

[2018-07-17 08:02] krue-doug opened #224 "How can I submit the Stripe form from a parent?"
### Summary

I want to submit the stripe form from a parent component. For example, in a modal, I want the Stripe to submit button to be in the footer, but then I want the form in the body.

[2018-07-17 08:37] krue-doug commented on #224
I just decorated the parent component with injectStripe instead.

[2018-07-17 08:37] #224 closed

[2018-07-17 14:54] asolove-stripe commented on #222
Hey @trip16661, thanks for reporting this!

I have AdBlock turned on in Chrome for Mac, and stripe.js seems to work on several sites that I tried, for example our [elements examples page](https://stripe.github.io/elements-examples/). And when I went to a site with ads blocked by AdBlock, I saw the console error listed as `Failed to load resource: net::ERR_BLOCKED_BY_CLIENT` which looks different f

[2018-07-17 16:42] trip16661 commented on #222
@asolove-stripe

Ummm now that you link that site, I tried to use adblock and check it and the same error appears.

<img width="453" alt="screen shot 2018-07-17 at 1 30 16 pm" src="https://user-images.githubusercontent.com/17633551/42832022-5284d622-89c6-11e8-8d6b-707ebbedda43.png">

I don't have additional config in adblock but mine looks like:

<img width="842" alt="screen shot 2018-07-17 at 1 3

[2018-07-17 17:14] dereksweet commented on #219
We are hammering away at a big deadline right now, but when I get a sec I'll see if I can throw together a jsfiddle or something that demonstrates the issue.

FYI - The same problem exists on the <PaymentRequestButton> element as well. Same workaround works but it throws a warning in a console about using paymentRequest.show() when the button is already there.

[2018-07-18 07:30] oddlyfunctional opened #225 "Changing locale doesn't automatically update the form"
In the application I'm currently working on the user can change his locale at will from the navbar. Updating the `locale` prop in the `Elements` component is not enough to change the elements locale:

[code]

To solve the issue I had to force a re-render using the `key` prop:

[code]

This fix is enough for my application, but I thought it'd be nice to let you know about this bug!

[2018-07-18 21:40] trip16661 commented on #222
@asolove-stripe Version 3.32.0

Now that I review the site again, I discovered that the bug occurs only when it's your first time on the page. Once you reload again it just works normally.

For example, go to the stripe elements demo page, hard reload, the errors happen.
Now do a normal reload, the error doesn't happen anymore.

I tried this repro on my local environment as well and it was exactly

[2018-07-18 22:06] asolove-stripe commented on #222
Hmm, I tried this on a couple computers and did not see the problem even with a hard reload.

The hunt continues...

[2018-07-19 00:14] susannepeng commented on #222
Hey guys, just jumping in, I'm seeing the same results as described by @trip16661 on the Stripe Elements example page.

My version of AdBlock: 3.31.2
My version of Chrome: 67.0.3396.99

[2018-07-22 12:32] qburst-starsona commented on #74
@atty-stripe Is there any update on this?

[2018-07-22 12:33] SabirAmeen commented on #74
@atty-stripe Is there any update on this?

[2018-07-22 22:46] atty-stripe commented on #74
@SabirAmeen sorry, no updates here. We have no current plans to add the icon to the `cardNumber` Element. This is mostly because we want the `cardNumber` Element to be as vanilla as possible, allowing users to customize it as they wish. The [jsfiddle](https://jsfiddle.net/ywain/L96q8uj5/) above is an example of how you can add your own icons.

[2018-07-23 14:43] asolove-stripe commented on #223
Hi @vishalkharat! The [`createToken` method](https://stripe.com/docs/stripe-js/reference#stripe-create-token) returns a promise that will be resolved with either a `token` property or an `error` property. You will probably want to change your code to also look for the `error` property and branch based on whether or not it is set.

[2018-07-23 14:43] #223 closed

[2018-07-23 15:40] asolove-stripe commented on #221
Hi @cleemputc, thanks for reporting this!

We definitely understand that it's annoying to need to use https in your dev environment. We have thought about adding `http` font support just for testmode. But we were worried that developers would see that their integration works in testmode, then deploy to production and be surprised when their http fonts stopped working. We strive to avoid having val

[2018-07-23 16:11] asolove-stripe commented on #225
@oddlyfunctional thanks for reporting this! That behavior certainly isn't expected. That said, I believe the `elements` object in the underlying stripe.js api does not allow updating the `locale` after it is created. Maybe we should name this property `initialLocale` to make that clearer?

To update the locale, you'd probably still need to set a distinct `key` to tell React that you want the previ

[2018-07-23 22:53] iMerica opened #226 "Very awkward API Design"
Hey guys,

My use case is very simple: I have a checkout form that is designed consistently with the rest of my site. I just need to create a token with stripe, then on success, record that token in my system.

Why do I need 4 layers of indirection just to call `createToken`? Am I misunderstanding something?

Thanks in advance,

Michael

[2018-07-24 02:06] jez commented on #226
👋 Hey there @iMerica! Thanks for the feedback. We're all sort of used to the complexity here at Stripe, so it's always refreshing to hear people challenge us to do better.

In the case of this particular API: React and iframes don't really play well. Iframes are intimately connected to the DOM, and the DOM is one big mutable object. This is why jQuery was so popular at first: it presented nice abs

[2018-07-24 02:52] iMerica commented on #226
Thanks for your response @jez. I didn't realize there was so much sandboxing going on with IFrames. That definitely explains it.

Last question:

Overriding the styles of  a `<CardElement/>`, is not enough to make the Stripe payment form look consistent with the rest of my site.

To achieve a 100% consistent UI that looks native to my site, I would need to have control over the actual markup as we

[2018-07-24 06:30] jez commented on #226
You might want to look at this issue:

https://github.com/stripe/react-stripe-elements/issues/116

which explains how to do something similar with Bootstrap for the UI library. (look for the JSFiddle link).

The key idea is: the CardElement itself should just be the **inside** part of the input. All the chrome and decorations on the input should outside.

So you don't need to override all the card

[2018-07-24 06:32] jez commented on #226
Unfortunately, we don't like to provide support over GitHub issues (it makes it harder to track for us internally). I'm going to close this issue, but if you have any follow up questions, you should definitely reach out to our support team:

https://support.stripe.com

They take on questions like this all the time, and are happy to help.

Thanks again for using Stripe!

[2018-07-24 06:32] #226 closed

[2018-07-24 07:44] cleemputc commented on #221
Thank you for your reply, I can understand your reasoning, however when the fonts fail to load like above, or maybe in other circumstances too, f.e. cdn is down, any interaction with the element is also blocked.

[2018-07-24 18:20] justswim commented on #199
Hi @atty-stripe, is there an issue I can track this issue on? It would be good to have some update on it!

Thanks,
Eric

[2018-07-24 18:47] atty-stripe commented on #199
@justswim there isn't, and we use this issue tracker to keep track of bugs in react-stripe-elements specifically, not Elements the underlying library. I'll comment here once it's fixed.

[2018-07-24 19:04] iMerica commented on #24
Thank you @domlyons. Very cool.

[2018-07-25 13:11] cbruhns commented on #20
Yep, also finding that a customer cannot complete checkout because they have a US based Credit Card which has a Canadian billing address. I understand that stripes masked zip formatting is trying to be helpful, but in this case it is not and it is costing sales. Looking forward to a resolution.

[2018-07-26 20:40] michelle commented on #222
I just installed Adblock@3.32 on Chrome@67.0.3396.99 with these options and am not seeing the issue:

<img width="826" alt="screen shot 2018-07-26 at 1 39 43 pm" src="https://user-images.githubusercontent.com/928757/43287263-64a3dde8-90d9-11e8-970b-023c07113032.png">

I'm going to go ahead and submit a bug report to AdBlock to see what they say.

[2018-07-26 20:52] michelle commented on #222
Here it is: https://help.getadblock.com/public/tickets/ae70e2a777101a58482af726979c89fae2c80ea497b33055397aab2a875213a5

[2018-07-31 22:15] davidivad96 opened #228 ""Value" attribute in CardNumberElement?"
I need to put a value in the CardNumberElement component. Not a placeholder (this can be done with the "placeholder" attribute). I want to put a default value, just like the "value" attribute in the "input" tag of html does.

I've tried the "value" attribute, but it doesn't work. Anyone knows if this is possible?

[2018-08-01 06:42] davidivad96 commented on #228
Well, my case is that I have a profile user page where you can edit your personal information. In that page there is a section where you save your payment information.

So I need this because once you have put and saved your card number I would like to leave it there like a value (showing only the 4 last numbers, the rest would appear as asterisks) so that you can see and edit that information whe

[2018-08-01 12:46] cweiss-stripe commented on #228
Hi @davidivad96
We recommend to create your own text/div component to show the obfuscated card number (**** **** **** 1234). The `CardNumberElement` is really only designed to let customers enter card numbers, not to display them.

[2018-08-01 12:46] #228 closed

[2018-08-06 23:01] atty-stripe commented on #222
With the latest versions of Chrome and Adblock Plus, we're unable to reproduce this error. It also doesn't seem to impede functionality of Elements.

Please let us know if you see this again in newer versions, and we can reopen.

[2018-08-06 23:01] #222 closed

[2018-08-07 08:49] 0xd5 opened #229 "Using unescaped '#' characters in a data URI body is deprecated"
### Summary

As far as I can tell using the Stripe provider inserts 3 iframes into the DOM for a React app. Calling the following paths (full path excluded for berevity):

- js.stripe.com/v3/controller-...
- js.stripe.com/v2/m/outer.html...
- m.stripe.network/inner.html...

These paths are currently triggering the following warning in Chrome:

[Deprecation] Using unescaped '#' characters in a data

[2018-08-08 15:52] bennypowers commented on #216
Not just Chrome, shadow dom is supported in a number of browsers. For example, firefox support is about to land.

https://caniuse.com/#feat=shadowdomv1

[2018-08-08 15:53] bennypowers commented on #216
FYI, the way we solve this in [stripe-elements](https://github.com/bennypowers/stripe-elements/) custom element is to [walk the dom tree](https://github.com/bennypowers/stripe-elements/blob/master/stripe-elements.html#L518-L529) until we find the document.

[2018-08-08 15:54] kaufmann42 commented on #216
+1 we also really need this for our solution. As web pages become more plugin focused this is going to be important.

[2018-08-10 03:45] schemata-nick opened #230 "Restore elementRef"
In the last push my integration stopped working. After checking the code/release it's because the elementRef property was removed in this commit:

https://github.com/stripe/react-stripe-elements/pull/210

My use case is that I'm passing my own stripe instance into the StripeProvider, and generating a token using createToken

Not looking for a fancy forms library, merely a secure credit card input,

[2018-08-10 17:18] jez commented on #230
This is not what `onReady` means in the context of Elements.
If you look at the original diff where we deprecated `elementRef`:

https://github.com/stripe/react-stripe-elements/pull/181/files#diff-e15bc710cb3c63ba986143c9ecbe354bL107

You can see that in that entire file, there was only one `elementRef` callsite and one `onReady` callsite, and the latter was always called immediately after the for

[2018-08-10 17:18] #230 closed

[2018-08-10 17:39] atty-stripe commented on #229
Thanks for the issue, @0xd5! I'll take a look today.

[2018-08-10 20:18] 0xd5 commented on #229
Looks like a simple fix, but I'm not familiar with the project. Happy to contribute with some guidance.

[2018-08-10 20:20] jez commented on #229
This is unfortunately not a simple fix; the issue originates deep within Stripe.js, which is the closed-source library wrapped by react-stripe-elements.

Thanks for the enthusiasm, though! We love to see people eager to make react-stripe-elements better.

[2018-08-13 15:12] michelle commented on #222
Just to close the loop here, Adblock folks got back to us on the ticket: https://help.getadblock.com/public/tickets/ae70e2a777101a58482af726979c89fae2c80ea497b33055397aab2a875213a5

[2018-08-14 00:25] max-favilli opened #231 "how to listen for error messages"
When using stripe.js we can do something like this:
[code]

But with `react-stripe-element`, how can you subscribe to changes and check if there's any error?

[2018-08-14 00:32] asolove-stripe commented on #231
Hi @max-favilli! All of our Element Components accept a `onChange` prop, where you can listen for the same change events as in your example.

[2018-08-14 09:39] max-favilli commented on #231
Thanks.

Additionally, I was trying some of these cards https://stripe.com/docs/testing#cards-responses to test error responses, but I am always getting a token, never an error.

[code]

while previusly with `stripe.js` the result of a `createToken` could have had a `token.error` object

Did I miss something?

[2018-08-14 09:54] vlaxis opened #232 "Icon Size"
Hello! Is there a way to increase card icon size? (I want to keep the font-size like 9px, without altering the icon)

[2018-08-14 13:38] asolove-stripe commented on #231
@max-favilli hmm, all the card errors on that page seem to be charge-time errors rather than tokenization-time errors. Can you try entering an obviously invalid number (like just "2") and then creating a token?

You'll want to change your callback function to receive the error, too:

[code]

[2018-08-15 01:32] asolove-stripe commented on #232
Hi @vlaxis!

Hi @vlaxis: unfortunately, no, the icon size is currently tied to the font size. (As an aside, 9px seems like a very tiny text size and we'd definitely encourage you to consider whether it's accessible to everyone who might want to check out on your site.)

If you really need an icon that is a different size, color, etc., you can build your own by turning off the icon inside our card

[2018-08-15 12:26] max-favilli commented on #231
Thanks a lot @asolove-stripe

[2018-08-15 12:26] #231 closed

[2018-08-15 19:48] iMerica commented on #179
I have the same issue.

Hi @jez,

1) The font-face styles I'm passing in via `styles={}` are not being used. What is the rationale for saying that this is not a react-stripe-elements issue?
2) Doesn't everyone benefit when the answers to questions like this are shown on Github issues rather than hiding the answers in IRC or the Stripe Support site? Have a look at the search engine rankings for que

[2018-08-15 19:50] iMerica commented on #179
Why not keep answers to questions where everyone is already looking?

Customers win by getting the help they need in a self-sufficient manner.

Stripe wins by not having to waste time answering the same question over and over.

[2018-08-15 20:30] iMerica commented on #179
For anyone arriving here from Google, this is how I was able to make it work:

[code]

[2018-08-16 18:52] SirNeuman commented on #179
@iMerica That's one way. The way that I got it to work, which i find more useful in my case since i have multiple elements and don't want to put the options in each element is to to do this in the `Elements` component:

[code]

and then in cardDetails.js just supply the font family in the style attribute for the `CardElement`.

[2018-08-16 20:16] iMerica commented on #179
Very cool. Thanks @SirNeuman.

[2018-08-17 15:06] davidpatters0n opened #233 "Incorrect postal/zip text shown when error is made."
### Summary

When you enter a US card number and do not enter a zip code the error message returned is:

Surely the correct text based on the card, in this case would be "Your zip code is incomplete"

### Other information

Screenshot for reference
![image](https://user-images.githubusercontent.com/870447/44273012-4bcf8a80-a20c-11e8-8171-899f05d18606.png)

[2018-08-20 10:41] davidivad96 opened #234 "Zip code length not limited."
When you type the zip code before anything else, the length is not limited to 5. Even you can write characters instead of numbers.

![captura de pantalla de 2018-08-20 12-39-54](https://user-images.githubusercontent.com/40857854/44335958-41182e00-a476-11e8-8372-7fd3c95c20b9.png)

But when you type the other fields first (card number, expiration date or cvc), then it works fine.

[2018-08-21 21:01] davidpatters0n commented on #20
Is there any update on this ?

[2018-08-22 17:30] atty-stripe commented on #20
@davidpatters0n @cbruhns  is there a specific BIN (first 6 digits of card number) that you're seeing mismatched?

[2018-08-23 18:56] smschick opened #235 "Loading Stripe.js asynchronously causes multiple Stripe iFrames in Body"
### Summary
When you asynchronously load Stripe with the StripeProvider within a component that is not the main App but mounted via a route change, lets say a 'subscribe page' all works well and Stripe will inject 2 iFrames in the Body of your HTML, (two controller script sources).  You then change the route again so a different component is then mounted, lets say the 'home page', but then route b

[2018-08-23 22:26] atty-stripe commented on #235
Hi @smschick, thanks for the issue!

Unmounting and re-mounting `StripeProvider` is basically the same as creating two instances of `window.Stripe`, such as:

[code]
Each instance of `window.Stripe` has it's own controller iframe it can isolate it's communication with our servers.

The best solution to your problem is to render `StripeProvider` above your routing logic, something like this:

[code

[2018-08-24 01:10] pgib opened #237 "Dealing with Stripe.js load failure"
### Summary

We've had some cases where people's "security" software have blocked the request to `https://js.stripe.com/v3/`, and I'd like to be able to elegantly detect this.

The component that's wrapped inside the `<StripeProvider>` ends up exceptioning out like so:

![image](https://user-images.githubusercontent.com/13967/44559466-1ee51100-a6ff-11e8-84eb-b1f0dc02ac01.png)

I simulate this loca

[2018-08-24 12:34] smschick commented on #235
Yes and no, it kind of proves my point that you more or less have to/should place the StripeProvider in the main app or at least before the router, but it does give me an idea to use the route path on componentDidupdate to determine if a particular page/route has been switched to before asynchronously loading.

Thanks for the quick reply, much appreciated.

[2018-08-25 05:16] UniqueTokens commented on #137
+1

[2018-08-27 17:02] #235 closed

[2018-08-27 23:13] BagpipesJohnson commented on #221
I've got to concur with cleemputc, this makes it next to impossible to do any kind of useful debugging on localhost.

[2018-08-28 04:27] michael811 opened #238 "Is "Name on card" field in the roadmap?"
This is a feature request.

### Summary

Our client want to collect card holder name as part of the credit card info, but I can't find the element in this project. Will you consider to add it in the future? If so what's the ETA of it? Thanks!

![screen shot 2018-08-28 at 4 27 34 pm](https://user-images.githubusercontent.com/2793241/44700797-4c570380-aadf-11e8-871b-0e6a252723c8.png)

[2018-08-28 14:34] mmmikeal commented on #64
@leebenson dumbest question youll get today, how do i install your library and replace my current elements? Readme doesnt say

[2018-08-28 18:40] fred-stripe commented on #238
Great question! There's not a Cardholder Name element in Stripe Elements itself, so the recommended approach here is to use a normal text field component in your React application to collect your customer's name, and then pass that information to the `Stripe.createToken()` call:

https://github.com/stripe/react-stripe-elements#setting-up-your-payment-form-injectstripe

Building on this example you

[2018-08-28 18:40] #238 closed

[2018-08-28 20:00] mmmikeal opened #239 "this.props.stripe.createToken({}).then().catch(err) is not catching card validation errors"
### Summary

`this.props.stripe.createToken({name,address_line1, etc})
.then (result=>{console.log(result)})
.catch((err)=> {console.log(err)});`

does not catch any form validation error. instead it returns an error object within the .then statement in the form of result.error.

Is this behaving as expected? I can work around it by putting my error handling in the .then(result) but it seems silly

[2018-08-28 20:06] mmmikeal commented on #239
https://stripe.com/docs/stripe-js/reference

just found the documentation i guess it is behaving as expected

[2018-08-28 20:06] #239 closed

[2018-08-28 23:46] atty-stripe commented on #239
Yep, this is as expected!

We explicitly want you to handle the errors when the Promise resolves. Since the shape of `result` can be either `{error: {...}}` or `{token: {...}}`, you must condition over it and explicitly handle the error. If we had just thrown an error, many developers may not add a `.catch()` and ignore the error altogether.

Another reason for this behavior is that it makes using

[2018-08-29 16:16] leebenson commented on #64
@mmmikeal, whilst you could just `npm i -S react-stripe-elements-universal` and import _that_ instead of react-stripe-elements, I'd advise against it before getting the official word from @jez -- it's possible/(probable?) that SSR support is already officially support.

Plus, my fork is 10 months old now, so is likely horribly out of date...

[2018-08-29 18:56] mmmikeal commented on #64
thanks guys I figured out how to install and import universal yesterday, also that my problems were unrelated to SSR!

[2018-08-29 18:58] mmmikeal commented on #239
@atty-stripe thank you so much for taking the time to explain that async/await decision! 👍 💯

[2018-09-03 09:39] shlajin commented on #192
@alenadrex Just came across this issue; since we cannot update the prop, then we have to create a new instance of `StripeProvider`. It's easy to do by using `key` prop:
[code]

Keep in mind that it will re-mount all the children, though.

[2018-09-03 20:26] nuthinking opened #240 "Fonts are pixelated"
I am trying to add a custom element to the form, since such element is not provided, and I am struggling to match the style.

![screen shot 2018-09-03 at 22 21 37](https://user-images.githubusercontent.com/163635/45000753-e29b9580-afc7-11e8-839c-1ec30d3d0906.png)

The input above is clearly a CardElement, the one below is a simple input with the same font assigned.

As you can see the font results

[2018-09-04 21:42] atty-stripe commented on #240
Hi @nuthinking! Thanks for reporting this issue.

Do you have a link to a minimal reproduction of your implementation (perhaps using a code-sharing site like jsfiddle)? Can you also share:

- Your browser and OS versions
- Your exact config that you're using to set up Elements (what fonts and CSS you're passing)

Happy to help debug here. For future reference, this issue tracker is limited to issu

[2018-09-05 05:31] johnstonmatt opened #241 "Throw a clearer error if multiple Elements components are nested"
### Summary

I am using Next.js (SSR framework), and through separate source files, I was wrapping my CardElement in multiple Element tags. This threw 'token cannot be inferred' or 'you did not declare token type'. I think that it should be more clear that what is passes into createToken is arbitrary. Also, an error message about encapsulation of Elements would be a nice touch.

[2018-09-05 06:33] nuthinking commented on #240
On my latest MacOS and Chrome the problem happens also with your JSFiddle example. Just less noticeable. I reported it via email. Thanks!

[2018-09-05 06:33] #240 closed

[2018-09-05 17:17] atty-stripe commented on #241
Hi @johnstonmatt, thanks for reporting this issue.

Do you have a minimal reproduction of your setup (in particular the way you're nesting the components)?

The error you're seeing is an internal react-stripe-elements error being thrown, and is ideally never shown to integrators. We would want to wrap it in a nicer error about encapsulation as you suggest.

[2018-09-05 19:46] dalefrancis88 opened #242 "American express CVC"
**Summary**
American express is only meant to have a 4 char cvc, this allows a 3 char cvc to be entered

**Steps to reproduce**

1. Run this project's demo (yarn demo)
2. Open the demo (http://localhost:8080/)
3. Copy the American Express test card number (378282246310005)
4. Paste it into the card number field (CTRL+C then CTRL+V)
5. Observe that the American Express CVC allows for a 3 digit cvc

[2018-09-05 20:37] jab1000 commented on #35
Over the past 10ish days we have the same problem with 4 different customers -- all fo them were trying to open the payment page on Safari on their iphone.  Granted no idea what the iOS/Safari version is though.  I agree that it probably is an intermitent network delay on their mobile but would be nice if their was a "way to test" for it even if just to give a message to the user - "please refresh

[2018-09-05 23:14] atty-stripe commented on #242
Hey @dalefrancis88! While Amex cards generally have 4 digit CVCs, we've seen cases where 3 digits are accepted or expected as well. For this reason, we allow both 3 or 4 digit CVCs for Amex cards.

Hope that helps!

[2018-09-05 23:14] #242 closed

[2018-09-05 23:31] dalefrancis88 commented on #242
Yeah it does, thanks for letting me know.

[2018-09-07 11:20] viktorbakari commented on #55
Very disappointed with Stripe's implementation of their React library. I have to refactor a lot of code to make this work with my pre-existing app. Ideally I would have liked to import one line of JSX and be done with it. Why is there so much boilerplate code for no apparent reason?

[2018-09-07 13:31] maksimtarhunakau opened #243 "Apple Pay Button"
Hello! Could you please help me? How I can full customize apple pay button, for example change border color?

[2018-09-07 16:09] fred-stripe commented on #243
Hi there, great question! [Apple's official branding guidance](https://developer.apple.com/design/human-interface-guidelines/apple-pay/buttons-and-marks/buttons/) on Apple Pay buttons allows for only a couple areas of customization:

- theme: light or dark
- button text: "pay" or "donate"

As such, the paymentRequestButton element only allows [customization along those lines](https://stripe.com/do

[2018-09-07 16:09] #243 closed

[2018-09-07 16:54] atty-stripe commented on #55
@saurishkar it looks like you aren't using the `<CardElement />` from `react-stripe-elements` in your `CardAdd` component. The `<CardElement />` or the `<CardNumberElement />` are the only supported way of accepting card numbers. You cannot use your own input.

That said, the error message should have been clearer here and tell you that you should be using an Element. I'll work on fixing that!

--

[2018-09-07 17:39] cweiss-stripe commented on #218
Hi @rubencosta

This seems to have been an issue that was fixed recently.
Your provided example seems to work fine.

Please reopen this issue if you still see unexpected behavior.

[2018-09-07 17:39] #218 closed

[2018-09-09 03:50] toddalbert opened #244 "Credit Card Field scrolls off page in iOS as user types"
This issue seems to affect iOS only, but we are seeing it in all browsers (Safari, Chrome, Firefox).

Once the user begins interacting with the credit card field using the iOS keypad, the element scrolls off the page and seemingly disappears. Since our user-base is mostly older and is over 40% on iOS, this is a major issue.

We've tested several potential solutions, but none work in iOS. The behav

[2018-09-10 01:20] ladas-larry opened #245 "Pass existing Postal code in CardElement"
Would be great if we could do something like <CardElement addressZip={xxx}>

[2018-09-10 03:25] #245 closed, assigned to nobody

[2018-09-10 03:28] atty-stripe commented on #244
Hi @toddmyphoto, thanks for reporting this issue. It does seem concerning, and we would love to fix it.

Do you have more information, including:

- The iOS version
- Browser versions
- A minimal repro, or a link to a site where you see the issue
- If possible, a video of the issue (in case we can't easily repro)

I'm not able to repro on our examples page: https://stripe.github.io/elements-exampl

[2018-09-10 04:34] RP-3 commented on #59
@chadwtkns could you share your styling? I'm having the same issue and it's totally not obvious to me how I'm supposed to style the label.

[2018-09-10 07:45] ripexz commented on #20
@atty-stripe Seeing same issue here as @cbruhns even using the AMEX test card - `3782 822463 10005` - it only allows numeric characters so Canadian post codes are not allowed (using stripe.js + elements directly, without react)

[2018-09-10 08:49] atty-stripe commented on #20
@ripexz the Amex test card has a US BIN, and is thus intended to be represented as a US card. The Card Element only allowing numeric characters is expected here.

To be clear, the behavior today is the Card Element does a BIN lookup against the entered card number, and based on the country, places the appropriate restrictions and translations on the postal code field. We are exploring ways to loos

[2018-09-10 11:30] ladas-larry commented on #245
Thanks :)

[2018-09-10 11:32] davidpatters0n commented on #20
Hi @atty-stripe - Here's an example of a live amex bin card: Amex: 379517

[2018-09-10 16:40] asolove-stripe commented on #134
@robertgonzales have you made any progress on this? It looks to us like this should work as long as stripe.js is loaded in the same frame that renders the Element.

I'm going to close this, as it's been open a while and I don't think it's an issue with react-stripe-elements itself, but I'm happy to reopen if the suggestion above isn't working.

[2018-09-10 16:40] #134 closed

[2018-09-10 16:42] asolove-stripe commented on #173
Hey @Emixam23, did you ever figure this out? From your example code, it looks like you were referencing `prop.stripe` before it would have been injected. So I hope the solution was as simple as waiting for it to be there.

I'm going to close this, as it's been a while without an update and it seems like not an issue with react-stripe-elements itself. That said, if the suggestion above didn't work

[2018-09-10 16:42] #173 closed

[2018-09-10 16:44] asolove-stripe commented on #219
@dereksweet did you ever figure out a fix or track down a way for us to reproduce?

We're happy to poke at this but haven't been able to reproduce, and admittedly don't know React Native for Web very well.

If it's not an issue any more or you don't have time, definitely no problem though. I'll close this in a few days if we don't hear back, but always happy to dig in if you can help us reproduce.

[2018-09-10 16:46] asolove-stripe commented on #237
@pgib thanks for reporting. We've definitely seen this problem with stripe.js getting blocked too.

I like the idea of using an `ErrorBoundary` to catch this, but I'm going to poke at whether we can also just handle this more gracefully internally.

[2018-09-10 16:55] asolove-stripe commented on #229
Quick update: this change was pushed back to Chrome M71, in December. But we should still fix asap, looking now.

[2018-09-10 17:05] dereksweet commented on #219
Thanks for reminding me! I still don't have a public URL or a private demo I can send you, unfortunately. We ended up having so many problems with this package and React Native web we just ended up using your single line credit card widget which the problems were much less apparent with since everything was on one line.

We were able to eventually get it working with the workaround indicate in the

[2018-09-10 17:11] asolove-stripe commented on #219
Ah, I can imagine how the React Native event system might trigger that. I'm glad you got it to an ok state! I didn't try on a page long enough to scroll, thus I missed it. I'm going to close for now since you got to an acceptable solution. But we're happy to take a look if someone else runs into this and needs help.

[2018-09-10 17:11] #219 closed

[2018-09-10 17:28] oscarafuentes commented on #244
Hi @atty-stripe @toddmyphoto ,

I'm experiencing a similar issue. You can duplicate by going to the following demo:

https://test.givz.com/donate/bol

The example I've include below is run in Safari on an iPhone 8 Plus running iOS 11.3

The issue can also be duplicated on other iPhone devices.

Steps to reproduce are as follows:

1. Visit https://test.givz.com/donate/bol in Safari.
2. Scroll down

[2018-09-10 17:46] asolove-stripe commented on #229
Hey @0xd5, are you still seeing this? I went through several demos and live integrations and was unable to find any cases where we used a data URI with a literal `#` in it. If you have a way to reproduce, would love to take a look.

[2018-09-10 19:36] #192 closed

[2018-09-10 19:43] asolove-stripe opened #246 "API Review: Rename Elements locale prop to initialLocale"
r? @atty-stripe

# Background
Stripe.js is unable to update the locale of an already-created element. But RSE allows users to pass in a `locale` prop which they might reasonably expect to update the element's locale if they change the value passed in on a subsequent re-render. We should rename this prop to be clearer that you can only pick the value once, when the `Elements` component is first mou

[2018-09-10 19:48] asolove-stripe commented on #160
I'm going to close this since a PR for the docs improvements is now under review.

[2018-09-10 19:48] #160 closed

[2018-09-10 20:08] atty-stripe commented on #20
@davidpatters0n that BIN points to the US in our database. Are your customers saying that their card matches to a different country?

[2018-09-10 20:17] atty-stripe commented on #244
Thanks @oscarafuentes! I am indeed able to repro on your page on an iOS 11.4 simulator. I haven't been able to repro in iOS 12 though. We will investigate and follow up here.

[2018-09-10 22:31] 0xd5 commented on #229
Hi Adam,

Will check this out tomorrow and report back to you either way

On Mon, 10 Sep 2018, 18:46 Adam Solove, <notifications@github.com> wrote:

[2018-09-11 04:32] sico opened #248 "Focus jumping away from non-Element inputs"
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary

When focusing a non-elements input for the first time, the cursor will jump to an Element instead. I was able to recreate this on the example page, as shown below.

This doesn't seem to happen all the time - any idea what causes it? I can't see

[2018-09-11 08:10] 0xd5 commented on #229
I can confirm I no longer see this issue. These are the two instances of the iframe I could find rendered in my latest build.

[code]

[code]

Thanks for looking into this, not sure what happened to fix it. I'll re-open if it appears.

[2018-09-11 08:10] #229 closed

[2018-09-11 12:08] toddmyphoto commented on #244
I provided code samples to the Support team, but no luck so far... you can test the code (please **don't complete checkout**, just test the fields) here: https://frontend.staging.myphoto.com/checkout?uid=05275ae4-7bd9-11e8-adb9-0a8e5afe9a72

Once you choose Checkout with Credit Card (on mobile, iOS), then try typing in the credit card field, the field jumps off the screen.

We've isolated so that

[2018-09-11 14:30] asolove-stripe commented on #248
@sico: hmm, I'm not seeing this currently in Chrome 69.0.3497.81 on Mac or in FF quantum. Can you share exact browser/OS details so I can try to reproduce? Also, are you doing anything at all on the page before focusing the email field? Thanks!

[2018-09-11 14:33] asolove-stripe commented on #248
This is plausibly related to #244.

[2018-09-11 15:27] asolove-stripe commented on #244
Just reporting that I can reproduce the problems on both of these pages with an iPhone 6s on iOS 11.4.1. (I cannot reproduce either of the problems on the Simulator for iOS 11.2.)

It appears that the unexpected jumping happens only in the case where the input was low enough on the screen that it had to be repositioned when it was focused and the numeric keypad was shown. Even after triggering tha

[2018-09-11 16:08] sico commented on #248
Ah ha! I couldn't figure out what could possibly be causing this in incognito, FF and chrome - but I had 1password extension enabled in all of those circumstances. When I disable 1password X (their newest version, I think?), it seems to fix the problem.

A few more details: Things seem fine when the form is _all_ Elements, or _all_ plain inputs. And weirdly, the `name` field in the first example d

[2018-09-11 16:17] sico commented on #248
Actually, it seems like 1password X is sort of still in beta. That's what I get!

[2018-09-11 16:18] asolove-stripe commented on #248
@sico oh, interesting! We'll reach out to 1password and see if we can figure out what's up and resolve it.

[2018-09-11 16:36] toddmyphoto commented on #244
Thanks @asolove-stripe for keeping us in the loop and pressing forward on this issue.

[2018-09-11 17:47] siakaramalegos commented on #55
@atty-stripe See my comment for the solution that worked for me.

[2018-09-11 17:55] asolove-stripe commented on #244
Research note: this appears to not be Stripe.js-specific but a bug in iOS 11.4 Safari. I have jsfiddled a [minimal reproduction](https://jsfiddle.net/eo7grxwv/) that shows the elements leading to the bug: an input in an iframe, the iframe in a scroll container other than the document body.

It appears to not be present in iOS 11.2 or 11.3 and also to be fixed in iOS 12 previews. We will file a rad

[2018-09-11 17:58] asolove-stripe commented on #219
@dereksweet FYI I believe this wasn't a React Native issue after all but a bug in iOS 11.4 Safari that [we're debugging in another issue](https://github.com/stripe/react-stripe-elements/issues/244#issuecomment-420363281) that causes this unexpected scroll jump.

[2018-09-11 18:07] toddmyphoto commented on #244
We had this same issue with other input fields in our form and adding an onChange={e=>{e.preventDefault()}} action to each input fixed this. We cannot access the event (e) on the Stripe Element for obvious security reasons, but perhaps you can work this in to the onChange and onFocus events for the input?

[2018-09-11 18:27] chagoy commented on #55
@siakaramalegos do you have an example of your code anywhere? I've been having the same trouble and have my redux form with my stripe injected form inside of it. I can't figure out how to connect the two.

[2018-09-11 18:47] siakaramalegos commented on #55
@chagoy it has been a while, and the repo is private, but I think this is the basic gist - act like you're not using Redux:

Checkout Container
[code]

And then checkout itself:
[code]

[2018-09-11 20:26] asolove-stripe commented on #244
Ooh, @toddmyphoto, thanks for the tip! Unfortunately, it appears that if I add `preventDefault` to my demo with the input in the iframe, it does not prevent the scroll jump...

[2018-09-11 20:30] toddmyphoto commented on #244
@asolove-stripe -- Nice catch. Yeah, for my Input elements, I had to use onChange, but the Stripe field is a bit different... and being in an iFrame and all...

[2018-09-11 20:35] toddmyphoto commented on #244
Another FYI -- we're seeing this across all browsers in iOS -- so I would say it is an iOS bug and isn't specific to Safari.

[2018-09-11 20:36] asolove-stripe commented on #244
Yeah, good reminder. Since all browsers on iOS have to use the WebKit engine as their base layer, this does impact all of them.

[2018-09-11 22:27] Emixam23 commented on #173
Hey !

Sorry if I never replied :/ I think I found a workaround when I was working on this, there is the code:

    import React from 'react'
    import { render } from 'react-dom'

    import { Provider } from 'react-redux'
    import { createStore, applyMiddleware, compose } from 'redux'
    import ReduxPromise from 'redux-promise'
    import thunk from 'redux-thunk'

    import { BrowserRouter

[2018-09-12 00:14] techieshark commented on #6
@asolove-stripe +1 for what looks like a suggestion to export the Flow type definitions.

Actually, for folks using [checkout](https://stripe.com/docs/checkout) it'd be great if there were flow definitions provided via [flow-typed](https://github.com/flow-typed/flow-typed).

Use case: working on a react app with Flow, and want to type-check `StripeCheckout.configure(stripeCheckoutOptions)` and `st

[2018-09-12 01:04] asolove-stripe commented on #173
Sounds good, glad you found a solution!

[2018-09-12 01:59] asolove-stripe commented on #241
Hey @johnstonmatt, can you tell us more about why you were nesting `Elements` components? That's not something that we expect, but would love to hear more about what you wanted to do and how we can clear up docs or provide better errors to deal with this.

[2018-09-12 02:03] asolove-stripe commented on #193
I just tested this and I think it is either resolved or possibly a Chrome Dev Tools bug with slightly more elaborate reproduction steps. The html validation error message does not appear when testing either on desktop Chrome or on real Chrome on iOS or Android. And it also doesn't appear for me in Chrome 69 on Mac when toggling the mobile mode as described above.

If someone can still reproduce th

[2018-09-12 02:03] #193 closed

[2018-09-12 02:07] asolove-stripe commented on #99
I think I'm going to close this issue as the original problem is resolved.

If you want to load Stripe.js asynchronously, we now support doing that via `StripeProvider`, and have some pretty good docs and an demo of how to do so. The Stripe.js library does not support a way to "unload" itself and remove the controller instance. Adding it presents some API difficulties since the stripe instance its

[2018-09-12 02:07] #99 closed

[2018-09-12 02:09] asolove-stripe commented on #35
It appears that this error is always triggered by Stripe.js failing to load over the network or loading in the wrong order. I am inclined to close this issue, since we understand what is causing it, and to use issue #237 as a place to discuss providing some API surface area for applications to be able to catch this error and respond to it in some useful way.

[2018-09-12 02:09] #35 closed

[2018-09-12 02:13] johnstonmatt commented on #241
It was a complete accident, I had used the component in a parent component and the child, the only problem here is the error message did not reflect what I had done and instead threw errors provided in the summary at the top of this thread.

[2018-09-12 02:14] asolove-stripe commented on #241
Ok great, that makes total sense, and we should definitely throw a clearer error there.

[2018-09-12 02:16] asolove-stripe commented on #244
End of day update: it does not appear that we can safely prevent the scroll jump. I can prevent it by completely ignoring input, but I can't do so safely while still receiving and handling the key input event.  I also tried adding a hack to detect if scroll position changes unexpectedly, but there are a host of reasons this isn't safe for some possible integration paths. I'm sorry but for the mome

[2018-09-13 08:11] HamadaBrest commented on #233
Hi, I noticied this too, is it fixed yet ?

[2018-09-13 21:40] fred-stripe commented on #233
Hey folks, this is a great suggestion—the error message actually comes from Stripe.js / Elements itself so any fix will have to be upstream. We're considering making that happen in a future update to Stripe.js but don't have any definite timeline to share on this. Because the required fix lies outside of this library I'm going to go ahead and close this issue for now so that we can focus on the ot

[2018-09-13 21:40] #233 closed

[2018-09-14 19:14] asolove-stripe commented on #52
If I understand correctly, there are two different kinds of concerns in this thread. I think it would be beneficial to discuss them separately:

1. One problem is that it's difficult to unit test components that happen to have Stripe-related components as children, if you want to avoid having to load and run Stripe.js in unit tests. I believe this issue can be resolved in a few ways:
- You can use

[2018-09-14 19:26] asolove-stripe opened #249 "API Review: handler for error when Stripe.js isn't loaded"
This API change would resolve #237.

# Motivation

When using the default integration, where an `apiKey` is passed in to `StripeProvider`, it currently throws an error if Stripe.js isn't already loaded. The error message correctly explains one possible cause of the problem: if the user failed to load Stripe.js or did so asynchronously, they need to change to using the async integration.

However,

[2018-09-17 13:59] newfivefour commented on #174
Are you all using Firefox on iOS by any chance?

I just had this issue: I would click on an input box, then click 'x' or 'done' on the keyboard, and then whenever I clicked anywhere else the keyboard would pop back up.

The code that simulated it is here

[code]

It does not happen on Safari or Chrome.

[2018-09-18 16:08] stickfigure opened #250 "Types are missing `disabled` property"
The types (as of types 1.1.7) for `CardElement` are missing the `disabled` prop.

[2018-09-19 04:46] atty-stripe commented on #250
That said, if you would like to open a PR to the community maintained flow-typed repository [0], feel free to!

[0] https://github.com/flow-typed/flow-typed

[2018-09-19 10:42] anto-parking commented on #192
Thanks @shlajin !

[2018-09-19 15:44] stickfigure commented on #250
Sorry, I was referring to the typescript type definition files.

[2018-09-19 17:27] atty-stripe commented on #250
Ah I see. In that case, please feel free to contribute to the DefinitelyTyped definitions: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-stripe-elements/index.d.ts.

[2018-09-19 17:51] stickfigure opened #251 "Officially support Typescript"
Given the popularity of Typescript, first-party support for type definitions would be celebrated.

[2018-09-21 20:31] fred-stripe commented on #251
Hi there, great suggestion—we're also fans of Typescript so this is something we'll consider for a future release of this library! However, at the moment we have no current plans to work on this. We want to avoid duplicate work on type definitions so we can focus on making the core library great. A single type library to maintain would minimize the cost of adding new Elements to Stripe.js. For now

[2018-09-21 20:31] #251 closed

[2018-09-21 21:04] stickfigure commented on #251
If this is something you will consider in the future, maybe leave the issue open so people can star it and track progress?

[2018-09-26 14:23] msweett opened #252 "Stripe fields allow infinite input when clearing the field by highlighting all contents"
### Reproduction
Input values into a Stripe field, highlight all values then press backspace to clear. The user will now be able to enter infinite values with the cursor staying at the beginning of the field.

### Summary
This issue applies to all Stripe fields. It is triggered by clearing the field by highlighting all field contents and either inputting new values or pressing backspace/delete. On

[2018-09-26 14:52] fred-stripe commented on #252
Hi @msweett, sorry to hear this isn't working as expected. I just tried to reproduce this behavior in two different browsers (Desktop Chrome and Safari) and I'm not seeing the contents get overwritten as you described. Could you share your specific platform and browser version, and also let me know the results of testing in an incognito or private browsing window in that browser?

[2018-09-26 15:38] msweett commented on #252
Hi @fred-stripe, I am using a mac (OS v. 10.13.5) and have been seeing this issue on Chrome (Version 69.0.3497.100 Official Build 64-bit) in both in normal and incognito mode.

This doesn't seem to be an issue on FireFox or Safari.

[2018-09-26 18:08] fred-stripe commented on #252
Thanks for the details @msweett! It seems that I'm on a slightly different version of Chrome (69.0.3497.92), but my colleague was able to reproduce on the version you mentioned. Interestingly this does *not* happen with Chrome Canary. Will test further and let you know what we find!

[2018-09-26 20:40] atty-stripe commented on #246
Thanks for the API review!

Implementing the chnage will require a few more things:
- Cutting a minor version to introduce `initialLocale` along with a warning around using `locale`
- Eventually cutting a major version to remove usage of `locale`, which will require explicit code to not allow this prop that is otherwise allowed by Stripe.js
- Documentation to say that all props match with Stripe.j

[2018-09-27 07:19] chrispaynter commented on #136
If like me you live in the world of Typescript and have found yourself here, the `@types/stripe-v3` package hasn't been updated.

I got around this by patching the react elements with the below.

[code]

[2018-09-30 06:51] markusgattol commented on #251
@fred-stripe I'd also ask you to keep the issue open please, so we have a place to track and discuss.
You see, the thing is that from a certain size of a codebase forward you'll have to have static types otherwise you can't quite grow anymore, especially when stripe seeks to get more traction in the enterprise space.

[2018-10-01 19:59] nonken opened #253 "createSource not working without passing element"
### Summary

Since `2.0.0` a call to `createSource` without passing the element within the HOC component fails with `Invalid Source type passed to createSource. Expected string, got undefined.`

Looking at the source of the wrapper I see the following

[code]
When the function is called without args, options defaults to `{}`. `options.type` therefor is `undefined` so the call throws.

[2018-10-01 20:09] atty-stripe commented on #253
Hi @nonken, thanks for the issue! This is expected behavior, and is explicitly a breaking change in 2.0. You must pass in a `type` when calling `createSource` unless an Element is specified.

See our release notes for reference: https://github.com/stripe/react-stripe-elements/releases/tag/v2.0.0

[2018-10-01 20:09] #253 closed

[2018-10-02 05:37] nonken commented on #253
Thanks a lot, I think the docs thew me off:

[code]

[2018-10-04 01:48] mitchchn commented on #248
Hey @asolove-stripe and @sico, this is Mitch from the 1Password X team. We found this bug independently since it had cropped up up on another site, and we just fixed it the other day. Everything should be good in the upcoming release of 1Password X (11.0). Sorry about all the jumping around!

[2018-10-05 17:06] fred-stripe commented on #252
Hey @msweett, sorry to keep you waiting on a reply! We did some extensive testing and we could _sometimes_ reproduce this issue in Chrome 69.0.3497.100. Based on our testing this issue doesn't happen at all in Chrome Canary so we believe this has already been addressed by the Chrome team. If you have further concerns please let us know!

[2018-10-05 17:06] #252 closed

[2018-10-05 20:45] atty-stripe commented on #253
Sorry about that! We've updated the docs.

[2018-10-06 16:28] mitchchn commented on #248
The fix is out in the 1Password X Beta: https://chrome.google.com/webstore/detail/1password-x-beta-%E2%80%93-passwo/khgocmkkpikpnmmkgmdnfckapcdkgfaf?hl=sv.

There are some other issues with the 1Password X autofill menu not appearing on Stripe forms because of all the fancy iframes, but we're hoping to find a solution to that soon. :)

[2018-10-08 13:46] IanLunn commented on #165
For anyone coming here looking to disable the zip/postal code for react-stripe-elements:

[code]

[2018-10-08 15:11] Nguma opened #256 "Ghostery adblocker seems to block Stripe API"
With Ghostery Chrome adblocker enabled, I was not able to trigger the Stripe API.

Here is what the console showed:
![screen shot 2018-10-08 at 10 11 57 am](https://user-images.githubusercontent.com/12621/46617498-e2247c00-caea-11e8-88e5-543cbfa11474.png)

[2018-10-08 15:39] Hongdeshuai commented on #165
Thank you.

On Mon, Oct 8, 2018 at 9:46 PM Ian Lunn <notifications@github.com> wrote:

[2018-10-08 15:44] Thebarda opened #257 "Iframe send request to https://m.stripe.com/"
Hello there,

Stripe iframes send requests to `https://m.stripe.com/ even if `StripeProvider` is unmounted.

Here is a request :
![screenshot from 2018-10-08 17-37-19](https://user-images.githubusercontent.com/12515407/46618850-d6ec4300-cb20-11e8-9f68-07e53aa63e9a.png)

I have one request like that each time I nativgate to another page of my project.

### Step to reproduce

1. I navigate to a page

[2018-10-08 15:58] asolove-stripe commented on #257
Hi @Thebarda! This is a behavior controlled by the closed-source Stripe.js library itself rather than this open source react-stripe-elements library. I would suggest contacting [Stripe Support](https://support.stripe.com/).

[2018-10-08 15:58] #257 closed

[2018-10-08 16:07] Thebarda commented on #257
Thank you @asolove-stripe for your quick answer

[2018-10-08 16:45] Hongdeshuai commented on #257
Thank you.

On Tue, Oct 9, 2018 at 12:08 AM Tom Darneix <notifications@github.com>
wrote:

[2018-10-08 20:27] asolove-stripe commented on #256
Hi @Nguma! This appears to be an issue with Stripe.js, the closed-source library, rather than with this open source react-stripe-elements wrapper library. I would recommend contacting [Stripe Support](https://support.stripe.com/).

[2018-10-08 20:27] #256 closed

[2018-10-10 21:01] chrismanderson opened #259 "Surface errors when using individual components such as CardNumberElement or CardCVCElement?"
It's entirely possibly I'm missing something, and I'm fairly new to React as well, but how do I show an error on an individual card field, like on Example #2 of https://stripe.github.io/elements-examples/.

![image](https://user-images.githubusercontent.com/418258/46765678-9bcb4a80-ccad-11e8-85bf-4610dae06fe1.png)

I saw some other Github issues with this question (e.g. https://github.com/stripe/r

[2018-10-10 22:40] asolove-stripe commented on #259
Hi @chrismanderson: you can see the source of those demos if it helps! For example, the styling of fields when in an invalid state [is in the styles passed in when the element is created](https://github.com/stripe/elements-examples/blob/master/js/example1.js#L34).

[2018-10-11 16:08] chrismanderson commented on #259
Hello, I did look at the source of those demos. It was super useful for the non-react version, but I'm looking at switching over to the React way and wasn't sure how it would translate. E.g. if I have a component that is

[code]

How would I trigger the invalid state on the relevant `Element`? Happy to ask elsewhere if there's a better spot for these questions, and also happy to submit a PR for th

[2018-10-11 16:14] asolove-stripe commented on #259
You don't need to trigger the invalid state on the `Element`. It does so automatically.

For example, [on our demo jsfiddle](https://jsfiddle.net/attystripe/xux7qzch), try entering card number "111", expiry "1", and a CVV of "1". Notice that the text changes to red as you blur each input because it is invalid.

[2018-10-11 16:21] chrismanderson commented on #259
Ah so I did see that, which is great. What I was looking for is triggering invalid state on an individual component if an invalid entry comes back from the server call. But now looking at the https://stripe.github.io/elements-examples/, I swear I could trigger individual elements (say the CVC field) to show invalid state after submitting a token with a test card that would trigger a failed CVC err

[2018-10-12 17:16] leotm opened #260 "Save card option"
Is there an option to allow the user to save/retrieve/update/delete their card?

I've noted [cards](https://stripe.com/docs/api#cards) and [create card token](https://stripe.com/docs/api#create_card_token)

Cheers

[2018-10-12 18:49] fred-stripe commented on #260
Hi @leotm, this library is designed to be a thin wrapper around Stripe Elements. Updating and managing a customer's list of cards requires both frontend and backend changes, and so is out of scope for this library.

The approach I'd recommend here is using our components to create a card token or source, and then sending that to your server-side application which would then save the card on a cust

[2018-10-12 18:49] #260 closed

[2018-10-15 08:35] jpike88 commented on #251
@fred-stripe you linked to a react definition, the issue is asking for generic support.

[2018-10-15 11:02] leotm commented on #260
Thanks @fred-stripe for the quick reply!

I note your suggestions regarding [this.props.stripe.createToken](https://stripe.com/docs/stripe-js/reference#stripe-create-token) or [this.props.stripe.createSource](https://stripe.com/docs/stripe-js/reference#stripe-create-source).
Is one favoured over the other depending on certain circumstances?
One implementation we are considering is using neither on

[2018-10-16 09:40] leotm opened #263 "Refactor documentation example"
Just wanting to update [Step 2: Create the payment form component](https://stripe.com/docs/recipes/elements-react#create-form) example to ES6:

[code]

Cheers

[2018-10-16 15:34] cweiss-stripe commented on #263
Hi @leotm thanks for the proposal!
Unlike the other modern JavaScript features used in the example, I think class field declarations are still a [stage 3 proposal](https://github.com/tc39/proposal-class-fields) and many people might not be using the [babel polyfill](https://babeljs.io/docs/en/next/babel-plugin-proposal-class-properties.html) for it. Thus, I'd prefer to hold off for a little longer

[2018-10-16 15:34] #263 closed

[2018-10-18 12:41] eugenkr opened #264 "It is possible to enter card number in a wrong format via CardNumberElement"
If you type pretty much quickly it is possible to enter card number in a wrong format. Entered card number can be less than 16 numbers:
![wrong card number](https://user-images.githubusercontent.com/294662/47154485-2124af80-d2eb-11e8-94d5-ab55901dd0e7.gif)
Reproducible at least in Chrome 69 on Mac OS and Windows 10.
Also I was able to reproduce it on your demo page here https://jsfiddle.net/attyst

[2018-10-18 12:53] eugenkr opened #265 "CardNumberElement and CardExpiryElement star display data mirrored"
Enter some data, for instance `2121 2121 2121 2121` to **CardNumberElement** than select it, cursor is positioned at the beginning. Start typing the same number. You will see that the number will become mirrored `1212 1212 1212 1212`:
![mirror input](https://user-images.githubusercontent.com/294662/47155523-998c7000-d2ed-11e8-9b31-69b4b8b6b05b.gif)
Reproducible in Chrome 69 (Mac OS and Window 10)

[2018-10-18 13:36] v-andrew-roonyx commented on #244
Unfortunately i am faced with the same issue, i just add card number, expire date and cvc elements and found that my iOS screen is jump two time in a row when i click inside input. I think it can be linked with `https://q.stripe.com/?event=elements.event.focus` and `https://q.stripe.com/?event=elements.event.blur` requests.

[2018-10-18 14:00] toddmyphoto commented on #244
One thing we did to help mitigate this -- move cc field as close to top of page as possible. When users choose to pay with CC, we scroll cc field into top part of page.

The bug, I've found, only occurs if they click or type in the field while it is in lower part of screen. Keep it near the top and no one will notice this bug.

[2018-10-19 19:18] mmmikeal commented on #67
@JonathanWbn Jonathan, were you ever able to get multiple CardElement components to work? I am doing something similar where I want to instantiate multiple CheckoutForms with their addresses being all the same, but different cards and charges.

I want to know if this is not supported by stripe before i gut my code to do this.

[2018-10-21 14:46] GrenardAntoine opened #266 "Keyboard won't close on iOS app"
I have developed an ionic app and include Stripe payment on it. When I make a payment with ios phone it opens a numeric keyboard in order for me to enter the card information.

But this keyboard have no "enter" button and when I click outside of the keyboard it doesn't close.

I don't know what to do

html :
<ion-content>
  <form>

    [...]

    <div id="payment">
      <h1>Paiement</h1>
      <b

[2018-10-24 14:14] leotm opened #267 "Unhandled Rejection (Error): You did not specify the type of Source or Token to create. We could not infer which Element you want to use for this operation."
### My goal

I would like to create a 2nd checkout form to retrieve and display the user's Stripe saved cards (our back-end does this, I get these successfully from our server), then let them submit the payment as usual.
Rather than the user entering card details as normal into the react-stripe-elements component(s), which I also have working successfully.

### The issue

I get `unhandled Rejectio

[2018-10-24 14:34] leotm commented on #267
Sorry guys, I am a n00b, I don't need to create a new token, since there is no new card information being entered since it's being pre-filled from our back-end, so our back-end won't require a token in the payload.

But still getting this same error above with `PaymentRequestButtonElement`, if anyone can see why it's not working?
However I'll likely not be implementing `PaymentRequestButtonElement

[2018-10-25 08:42] HamadaBrest opened #268 "ChangeObject error message language is choosed automatically"
I want to set English language for error messages included in `ChangeObject` when using `onChange` in `CardNumberElement`
My location right now is France and I'm getting error message in French, is there a way to force a language in this case ?

![stripe](https://user-images.githubusercontent.com/25125613/47486836-8de6ff00-d841-11e8-9cab-ad4a01183400.png)

[2018-10-25 11:29] Triyugi opened #269 "Is there any option of auto payment?"
I would like to integrate auto payment method after creating subscription. Is there any option available in this?

[2018-10-25 18:36] atty-stripe commented on #269
Hi @Triyugi, I don't fully follow your question, I'm sorry. This might be best addressed by our support team. You can chat, email, or call them here: https://support.stripe.com.

[2018-10-25 18:36] #269 closed

[2018-10-25 18:38] atty-stripe commented on #268
You can pass in a `locale` option to the `<Elements />` component. All options are listed in the Stripe.js reference: https://stripe.com/docs/stripe-js/reference#stripe-elements.

Elements by default infers the language from your browser, so you can also change that if you'd like!

[2018-10-25 18:38] #268 closed

[2018-10-27 04:14] MovingGifts opened #270 "Safari PWA Weird Bug"
This one is a very weird bug and I was able to reproduce it with the react stripe elements example. The bug is related to the keyboard issue with the focus/blur of the iframe I believe, but is a part that was overlooked/not fixed for the PWA edge case.

Our [forked repo](https://github.com/MovingGifts/elements-examples) is the same as the stripe elements repo, but we made it a PWA by adding a main

[2018-10-30 09:15] sanderfish opened #271 "CardElement HTML5 required form validation ignored on enter key submit"
### Summary

I'm using a CardElement combined with a couple of form fields. I want these form fields to use HTML5 form validation by setting the 'type' and by making the fields required. Normally, submission of the form is then prevented when the fields are not filled in or when the filled in data does not pass the test (e.g. email field is not in the email format).

I'm running into the following

[2018-10-31 20:48] mintplugins opened #272 "Unable to call setState if token error"
### Summary

This issue only seems to affect Safari OSX. In the promise function callback from the `createToken` call, if I attempt to set the state of my React component, I get this error:

`Blocked a frame with origin "https://fiddle.jshell.net" from accessing a frame with origin "https://js.stripe.com". Protocols, domains, and ports must match.`

Here's a JS Fiddle where you can see it happen (

[2018-11-01 22:03] blarsonat opened #273 "US cardholders with Canadian postal codes cannot enter ZIP code."
@atty-stripe commented: "this is a known problem unfortunately, and something we're actively working on addressing! One reason it happens is because we show postal code based on a dataset mapping card numbers to countries, but the dataset is sometimes wrong. And in some cases even if the data is correct, as you point out, the actual address might be a different country."

Creating an issue to trac

[2018-11-05 01:26] acpower7 opened #274 "Why choose FLOW?"
It's really perplexing why this library was written in flow. I'm trying to extract parts of this library to use in my app but I'm spending most my time learning how flow works which I don't want to do and is very frustrating.

hardly anyone outside facebook uses flow, please do a service to the community and migrate this library to typescript. thanks

[2018-11-06 18:39] jenan-stripe commented on #274
Hi @acpower7. You shouldn't need to use flow to use this library. It's purely an internal choice.

[2018-11-06 18:39] #274 closed

[2018-11-07 02:35] DungBuiDeveloper opened #275 "how to preview card infor ******* 4242"
i can't access infor card for preview

[2018-11-07 06:07] jahooma commented on #137
Just another datapoint - our CardElement appears in a dialog, and the way it starts out blank for several seconds before the initial animation in looks slightly awkward. I would turn off the first animation if I could.

However, it actually looks good if you re-open the dialog because it does the animation sooner since it has already loaded.

[2018-11-07 19:57] mmmikeal commented on #271
i did something similar where I made a handleValidation function fire first, and if it passed my self made checks, would then submit the form. Just a suggestion if you didn't or couldn't find a workaround for HTML5 form validation

[2018-11-08 09:01] johnhult opened #276 "Add Touched"
Would it be possible to add a class group for touched for the different elements?
Basically, since we can't access the input in the IFrame it would be great to add a touched class. If a user focuses a field but then blurs I would like to show an error message on blur if empty. Right now I haven't found a good way to do this. I can't use only empty since that's the default class of the elements.

[2018-11-11 21:45] redaben commented on #216
+1

[2018-11-11 23:20] atty-stripe commented on #271
Hi @sanderfish, thanks for reporting! This is a known issue, and something we're working on fixing. Will post here once it's done.

For now, I would recommend handling validation via JavaScript. Here's an example: https://github.com/stripe/elements-examples/pull/40.

[2018-11-11 23:36] atty-stripe commented on #270
Hi @MovingGifts, thanks for the bug report. As you mentioned, I was able to reproduce in iOS 9, but not in the later versions. I'm going to add this to our bug tracker and will keep you posted once we fix it.

[2018-11-11 23:40] atty-stripe commented on #273
Hi @blarsonat, if you don't mind, I'll keep everyone posted in the thread at https://github.com/stripe/react-stripe-elements/issues/20. This issue tracker is intended for bugs and feature requests in react-stripe-elements alone, and the issue you mention is in Stripe.js.

[2018-11-11 23:40] #273 closed

[2018-11-11 23:47] atty-stripe commented on #272
Thanks for the bug report! I'm able to reproduce in Safari on macOS as well. I'll add this to our bug tracker and keep you posted.

It looks like the setState call still succeeds though, so this isn't blocking core functionality. Does that match your experience?

[2018-11-11 23:51] atty-stripe commented on #267
Hi @leotm, glad to see you figured out the original issue. Can you open a new issue here with the PaymentRequestButton problem you're facing? A link to a minimal reproduction (using CodeSandbox or JSFiddle) would be much appreciated.

[2018-11-11 23:51] #267 closed

[2018-11-11 23:53] atty-stripe commented on #266
Hi @GrenardAntoine, sorry for the late response here. Could you post a link to a minimal reproduction that we can test on our devices? Without it, it's hard for us to reproduce the bug and fix it. Please also include the device and OS versions.

[2018-11-11 23:55] atty-stripe commented on #265
Hi @eugenkr, thanks for the report! We tried reproducing it, but could not do so reliably. The issue also seemed fix in the latest version of Chrome. Please reopen if you're still seeing it and it is causing issues with your integration.

[2018-11-11 23:55] #265 closed

[2018-11-11 23:57] atty-stripe commented on #264
Hi @eugenkr, you are able to type a 15 digit card number in the GIF because the number fits the Amex card pattern, and Amex cards can be 15 digits long. I tried to repro your issue separately, but always found the Element validated the input. Further, calling createToken or createSource runs a second round of validation, so invalid input will never be accepted.

[2018-11-11 23:57] #264 closed

[2018-11-11 23:58] atty-stripe commented on #259
Going to close as it seems you've found a solution. Elements does not allow manually setting the invalid state. You can of course set it on the container div based on your API's response.

[2018-11-11 23:58] #259 closed

[2018-11-12 00:57] MovingGifts commented on #270
@atty-stripe Thank you! Will patiently await the fix :)

[2018-11-12 03:37] regenhans commented on #120
A year later but looks like there is already a  [oficial solution for SSR]( https://github.com/stripe/react-stripe-elements/blob/master/README.md#server-side-rendering-ssr)

[2018-11-12 05:10] jahooma commented on #137
Makes sense, thanks. I wonder if it would help to have an explicit API to preload the component (and eliminate the start animation when it mounts)?

[2018-11-12 09:17] sanderfish commented on #271
Hi @atty-stripe, thanks for confirming. I'll validate via JavaScript for now.

[2018-11-12 10:13] aiven715 opened #277 "Getting a blank page when using in create-react-app"
I'm getting blank page, when I'm trying to render a CardElement using latest create-react-app(v2.1.1). Here it is the code I'm having:

[code]

[2018-11-12 10:13] aiven715 opened #278 "Getting a blank page when using in create-react-app"
I'm getting blank page, when I'm trying to render a CardElement using latest create-react-app(v2.1.1). Here it is the code I'm having:

[code]

Also, from time to time I'm getting this error message in console:
[code]

[2018-11-12 10:18] aiven715 commented on #278
Fixed by setting a width to a `form` element.

[2018-11-12 10:18] #278 closed

[2018-11-12 23:13] mintplugins commented on #272
@atty-stripe Great thanks! Yes the state does get set, that matches my experience. The error doesn't seem to actually block any functionality as far as I can tell.

[2018-11-13 10:11] bhautik11 opened #279 "update existing card expiry date and cvv details using customer_id"
Is there any way to update existing card expiry date and cvv details using customer_id ?

[2018-11-13 12:16] farahabdi commented on #19
@atty-stripe thanks for the info, but I really don't want to use your elements. They are pretty good for instant integration but awful when you need a very specific look and feel.

[2018-11-13 13:40] fred-stripe commented on #19
Hi, @farahabdi! We've designed Elements to be as flexible as possible for custom styles while balancing strict [PCI requirements](https://stripe.com/docs/security#validating-pci-compliance) for handling sensitive card information. I'd recommend taking a look at the official [Elements Examples](https://stripe.github.io/elements-examples/), which has a variety examples of customization using the `st

[2018-11-15 08:20] djw27 commented on #20
@atty-stripe just to add that we're experiencing a similar issue with a customer in Ireland who has a US Mastercard and hence they're being asked for a US ZIP code which they don't have. They claim the card is decades old so not sure if this is some sort of historic issuing which didn't require a US ZIP to be associated to the card? I can email the BIN?

[2018-11-21 20:40] bcanseco commented on #216
For anyone considering workarounds like [tokenizing cards](https://stripe.com/docs/api/tokens/create_card) using your own CC forms on the frontend and then [capturing charges](https://stripe.com/docs/api/charges/create) from your backend:

Keep in mind that you eventually need to validate PCI compliance. **Yes, your backend never sees credit card information with this approach. HOWEVER**, since yo

[2018-11-21 21:15] bennypowers commented on #216
@bcanseco Thanks for that, that's more reason for stripe to support the full DOM and HTML spec, including shadow DOM. Anyone building a payment app that uses shadow DOM would LOVE to not have to fill out those forms, but unless Stripe decides to support the full DOM spec, we have to use weird workarounds like walking the whole tree.

[2018-11-22 01:50] cstoddart commented on #278
So glad you posted this. Totally agree it should be added to the docs.

[2018-11-22 13:53] jingtra commented on #20
Did you guys fixed the AMEX issue?

[2018-11-28 09:08] btn-ninja opened #280 "Requests"
Hi,
Unable to find a place to file requests for Stripe, so posting here.

1 - In our old form, when a person started typing their name, all the fields could autofill.  This seems impossible to accomplish in the Elements.  Can you please create an option for this?

2 - Your example pages do not show the original HTML (only JS and CSS).  A simple update in your documentation could add clarity & save

[2018-11-28 10:47] btn-ninja commented on #280
Also PS - Your documentation of styles is missing one that is apparently supported: fontWeight.
https://stripe.com/docs/stripe-js/reference#element-options

[2018-11-28 19:49] talkingtab opened #281 "Using tab index with multiple CardXxxElements"
I'm using material-ui with react-stripe-elments and have code like this
[code]
I would like to allow the user to tab between fields. Is that possible? If not is there a way to style the <CardElement/> so that each field is on a separate line?
thanks!

[2018-11-29 18:46] fred-stripe commented on #281
@talkingtab Elements should respect the page's tab order. What elements does material-ui render here in the DOM, and what behavior are you seeing? Would you be able to share URL with a full reproduction so we could take a closer look?

[2018-11-30 03:15] talkingtab commented on #281
@fred-stripe Thanks. Looking at this, I'm wondering if it has to do with possibly being in a React Portal component. I'm still wandering in the dark on this. I go the demo to work just fine, then put the component into a material-ui  Dialog and it fails.  The react portal doc points to this issue: `https://reactjs.org/docs/accessibility.html#programmatically-managing-focus` I want the payment wind

[2018-11-30 14:59] frabcus commented on #265
In case anyone needs to know, this happens in Chrome 69 but not in Chrome 70.

[2018-12-02 19:13] thesmart opened #282 "Card element mount/unmount clears input state"
#### Summary

Calling `cardElement.mount` clears whatever input the user entered into the form.  There should be an option to keep input and not reset.

#### Motivation

We have a credit card experience that spans multiple "pages".  The first page is "enter your credit card" page and the second is "confirm payment" page. It's common for users to go "back" from the confirmation page to the credit c

[2018-12-03 04:37] thesmart commented on #282
Hmm nevermind, I just realized that the card element uses an iframe and that it's not possible to remove and attach an iframe from/to the DOM without it reloading. Persisting card state across React transitions would require laying or some other CSS-only technique.

[2018-12-03 04:37] #282 closed

[2018-12-03 22:56] richardscarrott opened #283 "Validate Stripe Elements without calling `createToken`"
### Summary

Sorry if this is the wrong place for this but IRC and chat support was proving difficult -- I figured I'd hit the right people through GitHub.

I'm struggling to work out how one can trigger the Stripe Elements client-side validation without calling `createToken`  i.e.

Given this form:

<img width="575" alt="screenshot 2018-12-03 at 22 36 36" src="https://user-images.githubuserconten

[2018-12-03 23:16] fred-stripe commented on #283
Hi @richardscarrott, there isn't a way to do this either with react-stripe-elements or Stripe.js itself. The recommended pattern here is to:

1. Assume that the user's input starts in an incomplete state and block form submission.
2. Use an `element.on('change', (event) => …)` [event handler](https://stripe.com/docs/stripe-js/reference#element-on) to update your form's state.
3. If there are error

[2018-12-03 23:16] #283 closed

[2018-12-04 15:49] cweiss-stripe commented on #280
Hi @btn-ninja

Thank you for your feedback!

You can always reach out to our support team with questions and bug reports: https://support.stripe.com

re 1:
It is indeed currently not possible to initiate credit card autofill from a name field and have it also fill the  card Elements. The autofill works across the individual Elements when initiated from the cardNumber/cardExpiry/cardCvc field.

re

[2018-12-04 15:49] #280 closed

[2018-12-04 20:19] abevoelker opened #284 "Unsupported prop change: paymentRequest is not a customizable property"
### Summary

I'm trying to make a `PaymentButton` component that supports dynamically changing the `total` and `displayItems` values, because the parent component has a slider and text boxes that let the user dynamically adjust $ values that will be presented to the user when clicking the payment request button.

To accomplish this I attempted to move the `paymentRequest` object construction out o

[2018-12-04 20:31] abevoelker commented on #284
If I set the `key` prop on the `PaymentButton`, I sorta get the desired behavior by forcing React to completely recreate the `PaymentButton` component:

[code]

However the button disappears for a brief period (1-2 seconds, not great) until `paymentRequest.canMakePayment()` can asynchronously resolve. Also I'd have to probably debounce this because if a user quickly slides a slider from $1.00 to $

[2018-12-04 23:20] abevoelker commented on #284
Here's a JSFiddle illustrating the problem: https://jsfiddle.net/kdynvjsq/

If you change either Amount value, then click the Donate button, the numbers do not reflect your changes.

[2018-12-05 15:23] vdmkotai opened #285 "Unable to use custom local font in stripe elements"
### Summary

I need to use custom font for stripe elements in my project. I want to use a local font (woff2 file), not loaded from google api (or from somewhere else)

I am trying to pass a font using the `src` option, as the [documentation](https://stripe.com/docs/stripe-js/reference#stripe-elements) says.

[code]

but I receive error like this:
[code]

I am using create-react-app config, if it's

[2018-12-05 17:11] atty-stripe commented on #285
Hi @vdmkotai, for security purposes, we only allow passing in font URLs over HTTPS. During local testing, you can use a tool like [ngrok](https://ngrok.com/) to serve your website over HTTPS. This would make the font be served over HTTPS as well.

[2018-12-05 17:11] #285 closed

[2018-12-05 17:42] vdmkotai commented on #285
@atty-stripe thanks, but that's not the problem
I am using HTTPS, but I want to pass **relative** URL to src (font-face src option has support for relative urls also, see [docs](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/src)). Or am I misunderstanding something?

[2018-12-05 18:52] atty-stripe commented on #285
Ah, I see. We do not support relative URLs unfortunately, but I'll take that as a feature request. For now please specify the absolute URL.

[2018-12-06 17:32] iamchristopher commented on #55
Has anyone actually managed to set this up with redux-form yet? I have struggled with this for the better part of a week.

An official example using redux-form would be very appreciated.

[2018-12-06 17:37] lopezdp commented on #272
I am having the same problem and receiving the same errors on my JS console.

[2018-12-06 17:42] chagoy commented on #55
Hey

I got it to work. Let’s see if this makes sense. Here is my component structure

<MainFormComponent> // in componentDidMount you’ll set the stripe key as it’s done on the docs. Also, write an onSubmit function that will be called on form submission, however form will submit on the InjectedCheckoutForm, not from here.
<StripeProvider> // pass it a prop called stripe which is equal to your stri

[2018-12-06 19:59] iamchristopher commented on #55
@chagoy Can you explain how the submission piece works, please? I'd like to collect address information at the same time and add it to the created source.

[2018-12-07 10:14] carlrip opened #286 "PaymentIntents API"
### Summary

Are there plans to support the new PaymentIntents API for the new  Strong Customer Authentication rules?
https://stripe.com/docs/payments/payment-intents

[2018-12-07 18:49] b-mcrae commented on #21
Hi @fred-stripe and @michelle!

If we use the https://github.com/tipsi/tipsi-stripe project, what level of SAQ will we have to submit for PCI compliance? Will it be the "Pre-filled SAQ A"?

[2018-12-08 10:12] andyshaw85 commented on #137
Hey @trevordmiller I'm having an issue as @MovingGifts but seems even more 'bouncey'. Looks to be only on load. I like the animations but would just want to remove that intro one. Maybe there's a hack around that rather than disabling all.
Demo of issue: https://www.dropbox.com/s/cixc8wvm198xata/Screen%20Recording%202018-12-08%20at%2010.00.04.mp4?dl=0

Was thinking if I could just target the spans

[2018-12-08 16:47] trevordmiller commented on #137
@andyshaw85 I think maybe you meant to tag the repo maintainer? I was a user of this library posting my own issue. I’ve since moved on to other projects and don’t use this library anymore :)

[2018-12-10 16:04] asolove-stripe commented on #286
Yes, absolutely! I don't have a definite timeline but we hope to make that available soon.

For now, it should be possible to do anything you need with payment intents without official support in this library. (Just get a reference to the element and use it with the plain Stripe.js API functions.) If you're having trouble with any specific flow, please [contact support](https://support.stripe.com/

[2018-12-10 16:07] asolove-stripe commented on #277
@aiven715 Is there any error on the page? I have a simple demo in create-react-app that seems to work ok.

[2018-12-10 16:32] asolove-stripe commented on #284
Hi @abevoelker: thanks for reporting! Darn, it looks like we don't have a way to update the underlying payment request without re-rendering our button. I'll take a look at how hard it would be for us to enable that.

In the mean time, one workaround would be to build your own UI button and just use our payment request API directly. Then you could dynamically change which payment request is used wh

[2018-12-10 17:00] pavelpanov commented on #286
Thank you.

As I understand, we should use "beta option" on Stripe initialization:

`
this.setState({ stripe: window.Stripe(publicKey, { betas: ['payment_intent_beta_3'] }) });
`

And use this method to completing payment:

`
this.props.stripe.handleCardPayment(clientSecret, cardElement).then(({ result }) => {
  if (result.error) {
    // Display error.message in your UI.
  } else {
    // The pay

[2018-12-10 21:48] billdevcode opened #287 "zip code field behave differently between test and live"
### Summary

- On version 2.0.1

Not sure if this was brought up or if this was intentional but on `test` mode, zip code is `complete` once there are 5 digits but on `live` mode, it becomes `complete` with just 1 digit.

### Other information

We can see the value is only `9` but it has the class `is-complete`. The cc number, expiration and cvc input fields all have values and are `complete`.

![s

[2018-12-11 10:43] aiven715 commented on #277
@asolove-stripe no errors, just stripe form is not visible. I've fixed it by setting width of the form manually

[2018-12-11 16:18] asolove-stripe commented on #277
Ah, glad you got it to work!

[2018-12-11 16:18] #277 closed

[2018-12-12 18:13] cweiss-stripe commented on #287
Hi @billdevcode

This is likely because the card you are testing with (is it 4242 4242 4242 4242?)  is a testmode only card. It is well defined in testmode and its BIN indicates that it is a US card. Therefore we can require the user to enter a 5-digit US ZIP code. In livemode, the card is not recognized as a US card and therefore the postal code requirements are less strict.

[2018-12-12 18:13] #287 closed

[2018-12-12 21:19] iamchristopher commented on #55
@atty-stripe Would you be able to provide some guidance on collecting additional information (ie, billing address) along with card number, please? My team has a workflow with redux-form that works well for us so we'd like to utilize that.

[2018-12-13 18:12] joshgeller opened #288 "PostalCodeElement not validating in JSFiddle example"
Thanks for this great library!

I am looking at the standalone `PostalCodeElement` in the [JSFiddle from the docs.](https://jsfiddle.net/attystripe/xux7qzch/). When I enter an incomplete zip code in this field, the console does not indicate any error has been detected. The value is reported as complete.

If I enter an incomplete zip code in the `CardElement` in the same JSFiddle, I do see an `inco

[2018-12-13 18:22] joshgeller commented on #288
Ah disregard, just realized that you need to enter a card number first.

[2018-12-13 18:22] #288 closed

[2018-12-13 22:11] reicolee opened #289 "Adding aria-attributes to Stripe components"
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary

Is there anyway where we can pass in custom aria-attribute such as aria-describedby into the stripe component? I am trying to associate our error label to the input field within the Iframe, but no luck!

[2018-12-14 14:59] brookesargent commented on #74
Does this solution work for react-stripe-elements also?

[2018-12-15 05:31] abevoelker commented on #284
Thanks @asolove-stripe, I will take a look at building my own button for now. But being able to make this work out of the box with react-stripe-elements button would be great, if you are able to look into it when you have time :relaxed:

[2018-12-17 14:36] johnmosesman commented on #30
Hey @michelle did anything ever happen with this? On slower internet connections these events are making things like checkbox clicks of non-stripe elements elsewhere on the form very laggy.

Is there a way to scope these events to only target the stripe elements?

[2018-12-17 14:49] johnmosesman opened #290 "Analytics events being fired for non-stripe elements"
### Summary

It seems that some kind of analytics or tracking call is being fired on non-stripe elements of my form. These calls appear to be blocking--on a mobile phone there is a significant delay on actions like checking or unchecking a checkbox, and I can see the mobile browser's "spinning wheel" doing a network request.

The calls begin with `https://q.stripe.com/?event=elements....` and happ

[2018-12-18 17:18] aguscha333 commented on #55
Were are you injecting the stripe? I tried following your example but I can't get the values of redux form into the `submitSuccess` function

[2018-12-19 00:08] matt-stripe commented on #290
Hello @johnmosesman,

We do not send these events for non-Stripe Elements (that is to say, any Element documented here[0]). If we are, please let me know which event it is and I can take a look! The following would be helpful in reproducing this behavior:

- what steps you are taking to produce the exhibited behavior
- what device you are testing on

Since the #30, we've pruned quite a few of the

[2018-12-19 00:33] matt-stripe commented on #284
@abevoelker I'm going to close this issue out for now (I have filed this into our backlog and we'll follow up when we have the time to implement this feature). Thanks for filing and raising with us, much appareciated!

[2018-12-19 00:33] #284 closed

[2018-12-19 00:35] matt-stripe commented on #281
Hello @talkingtab,

Please reach out again if you happen to find a bug (reproducible code snippets as @fred-stripe says would be the best here). I'm going to close this for now since I'm not able to reproduce the behavior locally with no frameworks (i.e. not using `material-ui`).

Thanks,
Matt

[2018-12-19 00:35] #281 closed

[2018-12-19 00:36] matt-stripe commented on #272
Hello @mintplugins @lopezdp,

I'm going to close this ticket for now as my colleague @atty-stripe was unable to reproduce the behavior, if you get the chance could you re-open this with a snippet that exhibits the regressed behavior? (using JSFiddle would be great)

Thanks,
Matt

[2018-12-19 00:36] #272 closed

[2018-12-19 16:05] johnmosesman commented on #290
hey @matt-stripe thanks for replying! I am trying to reproduce it on a new app, but I haven't succeeded yet. :(

To give you more info, my app structure is basically like this:

[code]

So the `StripeProvider` and `Elements` tags wrap the entire form, and stripe is injected around the form as well (I believe this is the correct way to do this). It is structured this way so I can submit to Stripe t

[2018-12-19 16:33] mintplugins commented on #272
@matt-stripe That's interesting. @atty-stripe Had mentioned that he did replicate, and in my screenshot above of my JSFiddle, you can see that I was getting the error on the JSFiddle I provided.

I tested that JS Fiddle again today, and I'm not seeing it now, but it is still happening in my project. Did anything change on the Stripe end that might affect this?

[2018-12-19 18:01] chagoy commented on #55
Ok so unfortunately I don’t have an answer here. I have an idea of what’s going on, but that’s call I’ve got.

When I first set this up it actually freaked me out because I had the same though. How do I connect the dispatch action in redux on form submit and how do I send the info to stripe?

What I’ve found is that the original form gets injected with stripe and there is an additional checkout co

[2018-12-19 19:37] unruffledBeaver opened #291 "Using `createToken` in Redux actions"
This may be a feature request of sorts but I was curious if there was a pattern where I could use `createToken` in a redux-thunk. What I tried to do was:

[code]

The issue here is that `createToken` in the window is not the wrapped version that is passed down from `inject`. It seems I would almost have to build my own implementation of the package to get the wrapped `createToken` that has access

[2018-12-20 04:47] Dashfire commented on #52
I think it would be great to have some sort of Mocked version of the StripeProvider component which would make testing parent and children components more thorough

I have found that when I need to test parent components that contain the payment form (for error messages or any UI changes) the easiest way was to simply provide a null value to the Stripeprovider which allows the parent UI to render

[2018-12-21 23:31] ryanolsonx opened #292 "Retrieve Source"
### Summary

Given that I have a source id (or a token), would I be able to be able to pre-populate a CardElement from that? It looks like there's `retrieveSource` but the documentation is unclear.

### Other information

The problem I'm trying to solve is being able to use a CardElement to setup an initial payment that a customer can use and provide a way to update the card later.

[2018-12-22 00:16] atty-stripe commented on #292
It's not possible at the moment to populate Elements with a source. The recommended path for allowing users to update their info is show a new form that allows them to add a new card.

More info on saving cards to customers here: https://stripe.com/docs/saving-cards

Hope that helps!

(Closing as this issue tracker is for bugs / feature requests in react-stripe-elements itself)

[2018-12-22 00:16] #292 closed

[2018-12-28 22:14] johnmosesman opened #293 "Firefox only - Error: Live Stripe.js integrations must use HTTPS."
I am getting the error `Error: Live Stripe.js integrations must use HTTPS. For more information: https://stripe.com/docs/stripe-js/elements/quickstart#http-requirements` but only when viewing the page with Firefox. The same code works fine with Chrome and Safari.

![image](https://user-images.githubusercontent.com/3760568/50529504-00cb5b00-0abb-11e9-8653-3f1a54fa8688.png)

I am loading stripe thro

[2018-12-28 23:31] johnmosesman commented on #293
To give you more context, here is how I am loading stripe. This component is inside of an iframe.

[code]

[2019-01-01 19:00] johnmosesman commented on #293
I reached out to Stripe support and got the following response, which required reworking my app setup, but it did fix the problem. It would be great if Stripe.js would handle this issue within itself.

---

I mentioned that I tried to load stripe.js outside of the iframe, but it runs into a known issue:

---

So TL;DR, I moved my initialize stuff into a new file that I hosted at a secure URL (ex:

[2019-01-01 19:00] #293 closed

[2019-01-02 16:40] asolove-stripe commented on #291
Hi @unruffledBeaver! Within the Wrapped component, the magic `createToken` is available as `this.props.stripe.createToken`, so can you just get that value back up to your redux state? You could pass a callback function down into the wrapped component and call it with `createToken` as an argument to smuggle it back up to the top level. Or any other trick you would normally use to get state from a l

[2019-01-02 16:42] #249 closed

[2019-01-02 16:42] #246 closed

[2019-01-02 18:49] atty-stripe commented on #293
Hi @johnmosesman, thanks for bringing this to our attention. It does seem like an edge-case in Firefox that we're not handling correctly, and we will fix it in Stripe.js. Glad you found a workaround! Will post here when we've fixed it.

[2019-01-03 14:48] noufal-ark commented on #217
Thank you so much

[2019-01-03 19:56] dangodev opened #294 "Unsafe lifecycle methods were found within a strict-mode tree: in StrictMode (componentWillReceiveProps)"
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary

React’s strict mode (flags deprecating APIs) throws warnings in development of using the `componentWillReceiveProps` method, and recommends replacing with `getDerivedStateFromProps` instead.

### Other information
Full console message:
[code]

[2019-01-04 19:05] rcy commented on #20
@atty-stripe I still have this problem, I have a US card with a Canadian billing address, and a fake US ZIP (12345) doesn't work.

[2019-01-08 17:00] IanLunn opened #295 "Doesn't pass accessibility audit "autocomplete attribute must be used correctly""
### Summary

I am using an accessibility tool called [Axe](https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd) by [Deque](https://www.deque.com/). It analyses a page for accessibility concerns and offers suggestions on how to fix them.

On the [Stripe Elements examples](https://stripe.github.io/elements-examples/) page I am getting the following issues reported by Axe:

[2019-01-08 20:33] itzsaga opened #296 "Firefox Content Security Policy Console Errors"
### Summary

Multiple Content Security Policy Errors in the console. They're present in the sample Fiddle: https://jsfiddle.net/g9rm5qkt/

### Other information

I've only found this in Firefox. Currently using Firefox 64.0

[2019-01-08 21:49] dweedon-stripe commented on #285
Hi @vdmkotai, wanted to let you know that this has been fixed, feel free to use relative URLs when setting `src`.

[2019-01-09 06:42] johnmcdowall commented on #238
It's really annoying that given the hoops you make developers jump through to integrate these elements, specifically the horrors of styling them to match the rest of the app UI, that you can't provide a complete set of elements that meet common needs.

Do you realize how annoying it is to implement a form using elements, and have one field have to be handled and styled totally differently from the

[2019-01-09 11:03] cweiss-stripe commented on #291
Closing this. Please let us know if the approach outline by @asolove-stripe is not working for you.

[2019-01-09 11:03] #291 closed

[2019-01-09 11:05] cweiss-stripe commented on #290
@johnmosesman I was unable to reproduce the issue you described.
Is it possible that you are calling `element.update({..})` in the change handler of one of your non-Elements inputs?

[2019-01-09 11:08] cweiss-stripe commented on #294
@dangodev Thanks for reporting this. For now we will keep using `componentWillReceiveProps` to ensure compatibility with older React versions, but once the latest version drops support for `componentWillReceiveProps` we will replace it and cut a new release.

[2019-01-09 11:11] cweiss-stripe commented on #295
@IanLunn Thanks for letting us now about those issue.
We'll take a look at them and will let you know once they are addressed.

[2019-01-09 11:19] cweiss-stripe commented on #296
This is a long known Firefox bug. `frame-src` was deprecated but was than un-deprecated. Firefox still works fine with this warning.
see also https://w3c.github.io/webappsec-csp/#changes-from-level-2

[2019-01-09 11:19] #296 closed

[2019-01-09 13:52] itzsaga commented on #296
Perfect, thank you @cweiss-stripe.

[2019-01-09 17:26] pthieu opened #297 "PostalCodeElement not hiding based on card number"
Based on this [comment](https://github.com/stripe/react-stripe-elements/issues/200#issuecomment-386699814) it seems the `<PostalCodeElement>` should hide or show based on some logic under the hood.

I know it's working because the format is set to something or `optional` based on the test card. But when I try the Australian test card in (which has optional postal code), the postal code element doe

[2019-01-10 17:43] #297 closed, assigned to nobody

[2019-01-10 17:47] pthieu commented on #297
@cweiss-stripe I didn't want to use it because I couldn't change the format of the inputs from all in one line to multiple lines.

I couldn't find anything in the docs or examples showing how to do this so I'm not sure if it's possible, can you let me know if I can put the form inputs on different lines?

[2019-01-10 20:50] johnmosesman commented on #290
Hey @cweiss-stripe! No I'm not updating the element at all. Just doing the `stripe.createSource` when I submit the form.

[2019-01-10 22:45] DavidSabine commented on #68
Hi,

I agree with the suggestion to provide an example of `./AddressSection.js`.  It could be a bare bones set of elements like name, email address, phone.  It would be really helpful then to see how those fields and their names map to `this.props`, and so on.

I'm having to make a lot of guesses about how such data gets passed around between Stripe Elements, my own Charge handlers, the response I

[2019-01-11 21:35] keeth commented on #40
I got this error due to a programming error with conditional rendering.. had a case where CardElement was not being rendered inside Elements but createToken was being called.  This error message is not very helpful.

[2019-01-14 21:13] captDaylight opened #307 "Basic create-react-app test throwing error"
I've tried this locally as well and gotten the same error, but as you can see in from this basic code snippet in [code sand box instance](https://codesandbox.io/s/ym9128k73z) I'm getting this error:

[code]

This is happening even though I'm simply including the `StripeProvider` with a key at root. I see that this is clearly not a problem in the [jsfiddle example](https://jsfiddle.net/attystripe/x

[2019-01-14 21:21] jchapelle opened #308 "Delay in placeholders rendering"
In my app, placeholders for CardElement are rendered 1 or 2 seconds after the whole components is rendered. This produces a blink that is not really fun for the user ...

[2019-01-15 12:41] atty-stripe commented on #308
Hi there, this is the result of Elements loading the relevant files over the network, which can cause delays in rendering depending on the network speed. If you'd like to prevent users seeing this, you could render Elements in a hidden div, and unhide the div when users need to see it.

Hope that's helpful!

[2019-01-15 12:41] #308 closed

[2019-01-15 12:43] atty-stripe commented on #307
Hi there, as the error message suggests, you must load Stripe.js from that URL in your web-app, in addition to using the `StripeProvider`. Concretely, this would mean adding `<script src="https://js.stripe.com/v3"></script>` to your HTML file.

The `StripeProvider` provides an instance of the `Stripe` object to child React components using the Context API. It does not load Stripe.js itself.

If yo

[2019-01-15 12:43] #307 closed

[2019-01-15 13:16] jchapelle commented on #308
This seems strange to me. I have a pretty big react app and it's the very
first time I encounter this type of issue.

In my aopp, the stripe script is load at app startup. The script is totally
loaded before I render the stripe components.
Are you fetching stuff through the network to render a very simple input
element ?
Regarding your suggestion, how do I know when the element is rendered
complet

[2019-01-15 13:23] atty-stripe commented on #308
This is certainly uncommon in the React world, but Elements are hosted on a `js.stripe.com` domain and rendered within iframes for PCI compliance reasons.

Under the hood, there's HTML / CSS / JS being delivered to render the input, as well as logic for things like autofill, localization, icons and animations (in certain Elements), and code to make the inputs work with `createSource` and `createTo

[2019-01-15 13:24] atty-stripe commented on #308
You can listen to the `onReady` event to know when an Elements is ready and mounted: https://github.com/stripe/react-stripe-elements#using-onready

[2019-01-15 13:34] jchapelle commented on #308
Great, thanks a lot

On Tue, Jan 15, 2019 at 2:24 PM Atty Eleti <notifications@github.com> wrote:

--
Jean Chapelle

[2019-01-16 15:52] thatmarvin commented on #52
@asolove-stripe Nice breakdown of the concerns! So I'm looking at the second scenario for e2e testing using Cypress, and I'm trying to fill in each of the CC form fields by drilling into the iframe. By referencing the event handlers in https://github.com/stripe/react-stripe-elements/blob/master/src/components/Element.js, I tried this:

[code]

However, upon submitting the form, all the values in t

[2019-01-16 16:03] asolove-stripe commented on #52
@thatmarvin: We do not deliberately do anything to clear these inputs and I know of some Stripe users who have tests roughly like this that work.

However, we are aware of problems that prevent some web testing tools from working correctly with controlled React inputs. I'm not familiar with Cyprus, but [here's an example in Appium](https://github.com/appium/appium/issues/9002) where you can appear

[2019-01-16 16:12] atty-stripe commented on #297
Hi @pthieu, to clarify: the `CardElement` has the logic of automatically showing or hiding the postal code field, but the `PostalCodeElement` does not.

If you want to have the fields on different lines, we suggest you use the individual Elements (as you did in your code above), and implement your own business logic to show or hide the postal code field. We do not currently expose an `optional` fi

[2019-01-16 16:13] atty-stripe commented on #68
Hi @DavidSabine, sorry to hear the docs proved to be confusing. You bring up a good point, and it would make sense to show in the example how to integrate Elements with other normal fields in the form.

Would you like to open a PR to update the docs? No obligation to — we'll do it soon otherwise.

[2019-01-16 16:30] smerin opened #309 "Un-mounting stripe elements disables newly-added (non-stripe) inputs in IE11"
### Summary

I have a stripe form using CardNumberElement, CardExpiryElement, CardCVCElement and also a PaymentRequestButtonElement. It works fine and has been in production for a few months, but there's an apparent bug in IE11 as described below. Code sandbox and JSFiddle don't work on IE11 so I can't reproduce it there.

When payment is successfully registered the form gets hidden (i.e. unmounte

[2019-01-16 16:58] atty-stripe commented on #40
@keeth sorry to hear that! Do you want to open a PR to improve the error message? No obligation to — we'll do it otherwise.

[2019-01-16 20:44] chrismanderson commented on #74
I just came across this issue, and it's pretty disappointing in light of the fact that this functionality is demoed in the header image on the marketing site (as mentioned by https://github.com/stripe/react-stripe-elements/issues/74#issuecomment-363933186).

I get trying to keep elements as vanilla as possible, but if that's the case, do not advertise functionality that is not actually possible. (

[2019-01-16 21:54] thatmarvin commented on #52
@asolove-stripe I was manually running commands in the web console, and turns out that React just didn't like the events I was dispatching. However, it worked when I let Cypress set the input values instead. It helped that you ruled out Stripe. Thanks!

[2019-01-16 22:00] asolove-stripe commented on #52
@thatmarvin Glad to hear that!

[2019-01-17 19:51] capndesign commented on #238
@fred-stripe Thanks providing that explanation, but it looks like there is no way to add a cardholder’s name when you are creating a source (as opposed to a token). Is there any solution to this problem?

[2019-01-17 20:13] chrismanderson opened #310 "Warning about calling `show()` on paymentRequestButton element"
### Summary

I am implementing react-stripe-elements with a form and a `paymentRequestButton`.  I want to trigger a form validation when the user clicks on the `paymentRequestButton`.

I have an `onClick` handler on my `PaymentRequestButtonElement`. I prevent the payment sheet from displaying with `ev.preventDefault()` (as mentioned https://stripe.com/docs/stripe-js/reference#element-on in `click`

[2019-01-18 00:06] devontemac opened #311 "PostalCodeElement validation isn't enforced for Canadian CC on mobile devices"
### Summary
When using a payment form, and entering in a Canadian credit card (ex. from Stripe docs: `4000001240000000`) on desktop, the zip code validation works perfectly. However, on mobile devices (or chrome mobile) it only validates the field based on being non-empty, not by format or length.

### Recreation
1. Create a payment form with a zip code field
2. Enter in a Canadian CC (ex. `400000

[2019-01-18 11:43] atty-stripe commented on #238
@capndesign you can pass in `owner.name` when calling `createSource`. This is documented in the API reference: https://stripe.com/docs/api/sources/create#create_source-owner.

Here's what a call might look like if you're using react-stripe-elements:

[code]

[2019-01-21 00:16] eideer commented on #88
This would be useful, the latest v2.0.2 tag in releases has no description, and the diff is a little confusing/surprising..

https://github.com/stripe/react-stripe-elements/releases/tag/v2.0.2
https://github.com/stripe/react-stripe-elements/compare/v2.0.1...v2.0.2

[2019-01-22 01:38] DavidSabine commented on #68
Thank you, @atty-stripe.  I'm not as familiar as you, and occupied for the next few weeks on another project.  Please go ahead without a PR from me.

[2019-01-22 20:18] asolove-stripe commented on #311
@devontemac: Sorry, that seems like an obnoxious difference! I'm trying to reproduce and understand why it's happening. Can you confirm the mobile device/browser you're using? I'm especially curious whether it's iOS or Android and what OS version. Thanks!

[2019-01-22 20:24] asolove-stripe commented on #309
Hi @smerin, thanks for reporting this and sorry for the painful bug. I'm trying to understand exactly what you're seeing.

I think you're saying that you are adding new inputs to the page at near the same time (at the same time? after?) as you're unmounting the Stripe Elements. And that those new inputs can't be interacted with. A few questions:

- Are there other inputs that were already on the p

[2019-01-23 15:32] devontemac commented on #311
I'm using the Chrome (v. 70.0) developer tools, and I clicked the "Toggle device toolbar" button and reloaded the page to mimic a mobile device. Thanks!
<img width="67" alt="screen shot 2019-01-23 at 7 32 36 am" src="https://user-images.githubusercontent.com/43973311/51617443-19c00400-1ee1-11e9-9272-a73ddb64fa83.png">

[2019-01-25 17:20] stephenhuh opened #312 "Improved Documentation for Using Stripe Connect Accounts"
### Summary
It would be awesome to have improved documentation on the README.md for usage with Stripe Connect accounts. Judging by #129 , #50 it seems that the focus on of this library is not on Connect, so it may fall under the **Advanced Integrations** section. But even in this section, nothing directly references the inclusion or exclusion of the Connect platform.

I had to hop onto the IRC as

[2019-01-25 20:53] asolove-stripe commented on #312
@stephenhuh Thanks for pointing this out and sorry for the confusion!

From reading our code, it appears that we pass through extra props provided to the Provider, so I would expect that if you provide a `stripeAccount` prop, it would get used [when we create the Stripe instance](https://github.com/stripe/react-stripe-elements/blob/master/src/components/Provider.js#L96). Is that not what you saw?

[2019-01-25 22:03] snblackout commented on #217
`<allow-navigation href="*://js.stripe.com/*" />`

When I do this and build the app, when opening the app on iOS, right at the splash screen, the app kicks out and opens my apps webview URL within Safari new tab.

Removing the allow-navigation, the app loads just fine but the mounting of the card doesn't seem to work as the form is blank and I cannot focus in it to type.  Working fine on dev machi

[2019-01-25 22:31] snblackout commented on #217
FYI after some inspection, I did not have `<allow-navigation href="*://localhost/*" />` in my config initially, so adding in `<allow-navigation href="*://js.stripe.com/*" />` to config immediately blacklisted everything else, including localhost, so it would kick it out to Safari browser.

Also, Stripe elements load just fine now after this too.

[2019-01-28 02:50] iKrushYou opened #313 "Cannot display PaymentRequestButton"
### Summary

I'm trying to follow the [tutorial](https://github.com/stripe/react-stripe-elements#using-the-paymentrequestbuttonelement) on adding the RequestPaymentButton in React but I am not having luck. I have recreated the code [here](https://codesandbox.io/s/rp2j6w50m)

It does not appear to be working whatsoever on codesandbox, but, for some reason, in my local environment, I can get it to w

[2019-01-28 03:39] iKrushYou commented on #313
It looks like all of my issues were stemming from me not having valid HTTPS (I had HTTPS, but it wasn't verified).

I followed the tutorial [here](https://medium.com/@clementsauvage/testing-apple-pay-on-the-web-with-stripe-99499427e147) and used ngrok to expose my localhost and add to Apple Pay on the Stripe website. This also fixed the Google Pay issues also.

This should probably be noted somewh

[2019-01-29 11:59] sambokai commented on #256
It seems like these guys (https://github.com/stripe/react-stripe-elements/issues/222) contacted the AdBlock team, which in turn removed the block.

We should do the same for uBlock Origin and Ghostery (https://github.com/stripe/react-stripe-elements/issues/256).

_Originally posted by @sambokai in https://github.com/richnologies/ngx-stripe/issues/53#issuecomment-458514409_

[2019-01-29 16:58] marinav commented on #286
Hi,

Thank you for your answers, and exemple. I searched on the doc but I did not find how to make a payment intent with the payment request button. Indeed I would like to be able to pay with apple pay, chrome saved cards etc. Or may be I missed somthing to be able to do that...?

Thank you

[2019-01-29 17:35] atty-stripe commented on #286
Hi @marinav, we're definitely working on a better way to work with the PaymentRequestButton and Payment Intents. In the meantime, you can use the PaymentRequestButton to create a Source, and pass the Source to `handleCardPayment`.

[code]

You can find the documentation for the version of `handleCardPayment` that accepts an existing Source here: https://stripe.com/docs/stripe-js/reference#stripe-h

[2019-01-29 17:45] atty-stripe commented on #256
@sambokai please feel free to open a new issue if you're seeing problems with a different adblocker. I just downloaded uBlock Origin in latest Chrome, and was not able to reproduce the issue on https://stripe.github.io/elements-examples/.

[2019-01-29 17:50] teich-stripe commented on #21
I haven't personally inspected the tipsi-stripe library. If they merely wrap it and provide no other functionality (I'd inspect what specifically they do with credit card numbers), then you will be PCI compliant if you use it.

Hope that helps!

[2019-01-29 17:54] sambokai commented on #256
I just verified this by doing a fresh install of chrome without any extensions and then with uBlock Origin and got the same result:

<img width="1672" alt="bildschirmfoto 2019-01-29 um 18 52 35" src="https://user-images.githubusercontent.com/7689616/51928894-3e434100-23f7-11e9-9160-90716542359e.png">

Will open a new issue.

[2019-01-29 18:08] sambokai opened #314 "uBlock Origin blocks some network requests from Stripe elements"
### Summary

I tested multiple popular ad blockers. All with standard config and in an isolated environment with Chrome Version 74.0.3687.0 (64-Bit):

| Name                                                                                                                                   | Works?             |
|----------------------------------------------------------------------------------------

[2019-01-29 20:40] joaopslins opened #316 "Cannot fill stripe fields using Appium on iOS Safari"
## Summary ##

I'm trying to do some automated tests using BrowserStack, which uses Appium for interfacing with mobile devices. These tests are being written in Python.

On the page that uses Stripe Elements, I've used the Selenium method `driver.switch_to.frame(iframe)` so I can fill the form fields inside the iframes. This work fine until I run the tests on Apple mobile devices, where I get an e

[2019-01-30 00:04] fred-stripe commented on #314
Hello, I've tested this with uBlock and the Chrome version you reported, and Elements works as expected—the fields appear, and I can enter a card number and create a card token without issue. It appears that uBlock stops some network requests from Stripe.js, however, the blocked requests shouldn't stop users from paying.

[2019-01-30 00:20] #314 closed

[2019-01-30 19:09] atty-stripe commented on #316
Hi @joaopslins, thanks for opening this ticket! Unfortunately we've seen issues with Appium and iOS Safari ourselves, and I'm not personally aware of workarounds to this documented limitation with Appium.

In general, we don't recommend Selenium tests that enter input into the iframes directly as the internal DOM of Elements may change without notice. There is more discussion on testing here: http

[2019-01-30 19:09] #316 closed

[2019-01-30 19:42] caseybaggz opened #317 "API Review: Hooks & Beyond"
#### Summary
With the introduction of hooks, the API could update to allow the components to meet current standards of where React is and where it's going.

Hooks example:
[code]
For those who don't want to use HOC, you can provide a `useStripe` hook that accomplishes the same thing that `injectStripe` currently does that follows the `useContext` design.

Elements Component Update:
[code]
Another

[2019-01-30 20:06] atty-stripe commented on #317
Hi @caseybaggz, thanks for opening this API review! I'm acknowledging that we'll take a look and get back to you with feedback soon.

[2019-02-04 16:08] cweiss-stripe commented on #313
Hi @iKrushYou
Yes, HTTPS is required [as listed in the documentation as prerequisite](https://stripe.com/docs/stripe-js/elements/payment-request-button#prerequisites).
Also, Payment Request only works inside sandboxed iframes when the `allowpaymentrequest` attribute is set on the `iframe`, which is the reason why it does not work inside the codesandbox.io iframe.

[2019-02-04 16:08] #313 closed

[2019-02-04 17:23] cweiss-stripe commented on #317
Hi @caseybaggz

Thank you for this proposal.

I like the suggestion to add a `useStripe` hook that can be used instead of `injectStripe`. Based on my understanding of hooks API this should work nicely.

However, adding this is currently not very high priority for us, and we will likely wait until hook usage becomes a little more popular/wide-spread.
(Would you be interested in submitting a PR for

[2019-02-04 17:48] caseybaggz commented on #317
@cweiss-stripe sure thing!

[2019-02-07 14:08] caseybaggz commented on #317
@cweiss-stripe, since we are updating, react in this future PR, we will need to upgrade some legacy code (specifically, context), I would recommend following the React pattern of having a "current" and "legacy" package which should be pretty easy.

Once we get this update in you just introduce a new package that is "react-stripe-elements-legacy" which just points to the previous release, branch, t

[2019-02-08 01:09] arronhunt opened #318 "shippingaddresschange returning empty array for addressLine"
### Summary

Listening to the shippingaddresschange event is returning an incorrect address object, notably an empty array for the key `addressLine`. I'm not sure if this is a problem with the library itself or a problem with ApplePay.

### Other information

<img width="462" alt="screen shot 2019-02-07 at 5 01 49 pm" src="https://user-images.githubusercontent.com/298336/52452981-2efc7b80-2afa-11e

[2019-02-08 01:31] atty-stripe commented on #318
As mentioned in the docs [0], browsers and payment methods may strip some parts of the shipping address they deem not necessary to calculate shipping costs. This is by design for Apple Pay.

[0] https://stripe.com/docs/stripe-js/reference#payment-request-on

[2019-02-08 01:31] #318 closed

[2019-02-08 08:33] wiadev opened #319 "How to get card info after creating a token?"
Hi
I need to get card info after creating a token.
In chrome dev tools, I've checked the stripe request and it was sending back card info.

but `stripe.createToken` is only returning token and error.

How can I get the card info?

Thanks,

FYI, I'm using the following element.
[code]

[2019-02-08 15:49] wiadev commented on #319
nvm. I've been using v1.4.0 and they were returning only token related info without card.

After upgrading to v2.0.4, they are returning the card in token object now. 👍

[2019-02-08 15:49] #319 closed

[2019-02-08 16:00] roberthchapman commented on #221
@asolove-stripe Why is this not a very bold gotcha in the documentation??!  It' always painful when issues where you're facing a dilemma (.."we were worried that developers would see that their integration works in testmode"...) are not made clear very early on so that everyone doesn't have to go through one of the two painful misunderstandings!

[2019-02-12 00:30] mrcoles commented on #154
here’s a single Provider component I just wrote to load the stripe.js script asynchronously, which I based on that demo code: https://gist.github.com/mrcoles/8c79595f488f0e334e528163feb23293

[2019-02-15 10:12] kishore15 commented on #21
i am using strip api for getting token from strip payment gateway , is it correct or not , and can any one help how to integrate strip payment gateway in mobile react native , i did not find how to install tipsi ,any one can you help on this.

[2019-02-15 22:28] spencerfdavis opened #320 "IE Edge (Windows 10) unmount/mount issue with <CardElement>"
### Summary
Seeing an issue with IE Edge on Windows 10 where `<CardElement>` is removed from the page and then added back.  This example allows the user to toggle payment type and does not load the <CardElement> after being removed/added back.

Not sure if it is related to this IE 11 bug https://github.com/stripe/react-stripe-elements/issues/309

### Other information
I have the `<Elements>` tag o

[2019-02-20 22:09] atty-stripe opened #322 "Remove PostalCodeElement"
### Summary

In the next major version, we should remove support for the `PostalCodeElement` as it is no longer the recommended way to collect postal code. Users are suggested to build their own postal code input.

[2019-02-21 12:21] 4sh3 commented on #222
Hi, Adblock is blocking stripe right now...

  <script src="https://js.stripe.com/v3/"></script>

[2019-02-21 23:32] adolfoportilla opened #323 "Change cardCVCElement to cardCvcElement"
Feature request or idea? Consider opening an
[API review](https://github.com/stripe/react-stripe-elements/tree/master/.github/API_REVIEW.md)!

### Summary

The CardCVCElement has an incorrect casing name. In the DOM, it renders as CardCvcElement, but to import the element you need to use CardCVCElement. This should be the same.

This is useful for testing, because if you try to find the component

[2019-02-22 04:00] atty-stripe commented on #222
Hi @4sh3, I cannot reproduce myself on latest Chrome with the latest version of AdBlock. Can you share your Chrome / AdBlock versions and a screenshot of which requests you see getting blocked? Is core payments functionality affected?

[2019-02-22 14:34] threeaccents commented on #216
@matt-stripe Are there any updates on the progress for shadow dom support?

[2019-02-25 17:05] asolove-stripe commented on #320
@spencerfdavis Oh no, that's no good!

Can you say more about what your code is doing? It looks to me like you might be unmounting the content under the "Credit Card" tab, causing the Element to need to load again. Is it possible you want to still render the content and just have it be hidden?

[2019-02-25 18:10] asolove-stripe commented on #323
Hey @adolfoportilla, thanks for pointing this out! I agree it would be better that way, but also it would be a breaking change. I think in the future we might also export `CardCvcElement` as a synonym. But given that this isn't that hard to search for, I don't think we'll be fixing it immediately.

[2019-02-27 14:32] IreneIrene commented on #320
I have the same issue with CardNumberElement, CardExpiryElement and CardCVCElement. When I toggle the payment type, elements don't load. Is there a way to fix this?

[2019-02-27 14:49] asolove-stripe commented on #320
Hi @IreneIrene: can you describe what your code is doing in this toggle? Is it updating to no longer render the Element, or just styling part of the DOM as hidden? Because Elements wrap iframes which are relatively expensive to set up, we strongly recommend the latter rather than the former.

[2019-02-27 15:44] IreneIrene commented on #320
Yes, it is updating to no longer render.

[2019-02-27 15:46] asolove-stripe commented on #320
That approach is going to be quite slow as this requires re-creating the iframe and having it reload all of its content each time it is rendered. I would recommend having the Element always be rendered and just using CSS to hide it when you don't want it visible.

[2019-02-27 15:47] IreneIrene commented on #320
Thanks, I'll try this approach.

[2019-02-27 16:47] IreneIrene commented on #320
It worked, but now I have the same problem with  PaymentRequestButtonElement in Microsoft Edge.
I  have two buttons in order to the toggle payment type  - PaymentRequestButtonElement  and my custom button.  When I click my custom button, CardNumberElement, CardExpiryElement and CardCVCElement are displayed (I use CSS already).
The problem is that my custom button is displayed, but PaymentRequestBu

[2019-02-28 03:48] mintplugins commented on #286
Thanks for all the help on this so far. I have everything working except creating subscriptions. I was told my Stripe support that the correct approach is to do the initial charge as a PaymentIntent, and then save the source to the customer, and set up the subscription with a trial period to offset the initial purchase.

While this works, it seems like the wrong approach to use a trial method for,

[2019-02-28 09:10] kewitz commented on #23
I just experienced the same issue.
Apparently Stripe's component uses the label selector to deal with focus logic.
If your sibling inputs are not wrapped with a `label` tag, Stripe Element will hold the focus to itself.
This also means that dropdowns won't work in that condition because they will lose focus and close as soon as the element loses focus.

[code]

[2019-02-28 19:47] pizza-r0b opened #326 "Focus -> Blur -> Focus IOS Safari"
In IOS safari when moving from one focused field to another via tab, click, or arrow on IOS, the focus event for the new field will fire and then the blur event and then focus again

[2019-02-28 20:35] pizza-r0b commented on #326
I am able to reproduce this in the fiddle in the README https://jsfiddle.net/attystripe/xux7qzch/ on the IOS simulator

[2019-03-01 01:39] pizzarob opened #327 "IOS Safari Moves Input Out Of View"
Hi. In IOS Safari once a user enters an input and then taps around the field, the input will drop lower and lower. If a user then starts typing again the field will correct itself. I have attached a video of the IOS simulator, but its easier to reproduce on an iphone.

[stripebug.mov.zip](https://github.com/stripe/react-stripe-elements/files/2917578/stripebug.mov.zip)

[2019-03-01 15:54] masterGennadij opened #328 "CVV number should display in dot like input Type password"
Hello,

I faced one issue that CVV number is directly shown to user. The CVV number should not be visible to user because it is private for security.

Like password field

[2019-03-01 17:29] pizza-r0b commented on #327
This actually seems to be an issue with stripe elements. Was able to reproduce on the stripe website

![image](https://user-images.githubusercontent.com/5282495/53655262-862ad300-3c04-11e9-8a22-300cc3f162a4.png)

[2019-03-03 01:42] asolove-stripe commented on #328
Hi @masterGennadij! Most online checkout forms don't mask out the CVC number. The PCI and other appropriate standards also don't recommend doing so.

[2019-03-03 01:42] #328 closed

[2019-03-03 01:49] asolove-stripe commented on #326
Hi @pizza-r0b, thanks for this report and sorry for the unfortunate problem here.

It is an unfortunate problem, but it is also currently the side-effect of our attempt to fix an even more unfortunate problem. Under some circumstances, iOS Safari fails to send blur events when focus is moving between iframes. This broke a number of Elements users who never received blur events for inputs that had

[2019-03-03 01:49] #326 closed

[2019-03-03 03:18] pizza-r0b commented on #326
Makes sense. In my case it breaks the way we handle error validation. Once a field is “touched” - which is set to true once a field is blurred - a validation will trigger for the input field. However, with the solution you guys have implemented touched will be set to true when moving from one field to another and the validation will fire before the user has started typing. So if there is a validat

[2019-03-03 03:23] asolove-stripe commented on #326
Ah, that's certainly unfortunate. And I'm guessing the field that gets this inappropriate blur is one you control, rather than a Stripe Element, yes?

Maybe you can clear the validation state when the field is re-focused and empty? And if there's a problem with it quickly switching to invalid and then back, maybe do it asynchronously so it only triggers if there's a blur and no re-focus within 50m

[2019-03-03 03:25] asolove-stripe commented on #327
Hey @pizza-r0b: yikes, that looks pretty bad, thanks for reporting.

I tried to download the video but GitHub is either serving it very slow or some other network thing is going wrong and I can't see anything.

I tried reproducing on that page with iOS devices I have on hand and wasn't able to. Can you share a bit about the device/OS version you're using? Also, I tried to reproduce by typing, sele

[2019-03-03 04:39] pizza-r0b commented on #327
Hey there. It’s actually easier to reproduce on an actual device, but i was able to reproduce on the ios simulator. I have an iphone seven. Once you type into a field you can reproduce by tapping around the label of the current field. It seems like the focus/re-focus makes the input field move down with every tap of the label. Let me know if you need more info.

[2019-03-06 23:09] richtera commented on #250
So this won't be fixed? The component can't be used within a typescript file without some weird hacks like typecasting away the type.

[2019-03-06 23:25] atty-stripe commented on #250
@richtera we don't actively support TypeScript type definitions, but you should feel free to submit a PR to the community-maintained DefinitelyTyped repository, or augment it in your own code.

[2019-03-07 00:05] stickfigure commented on #250
@atty-stripe how popular does typescript have to be before somebody in product reconsiders this decision? Not asking this rhetorically or trying to be mean; I'm genuinely curious. I know flow is popular there, but it's pretty clear that typescript is winning the mindshare war.

I'm a huge fan of Stripe and rooting for you guys but this library is becoming "broken out of the box" for a progressivel

[2019-03-07 00:09] atty-stripe commented on #250
I fully hear you, and would love for us to support it first-class as well. I'll take the feedback to the team and see how we can prioritize it. Thanks for the feedback!

[2019-03-07 00:18] atty-stripe commented on #250
@richtera, looking closer at your code, it appears you're using `react-stripe-checkout`. That project is not maintained by Stripe. [0] You might also want to integrate against the new Checkout, documented here: https://stripe.com/docs/payments/checkout.

[0] https://github.com/azmenak/react-stripe-checkout

[2019-03-07 03:15] richtera commented on #250
Ah sorry. That makes sense. That project does include the d.ts file. My bad.

[2019-03-07 19:03] Dorian942 opened #329 "Can't find variable: document"
Hello,
Im trying to use Stripe for the first time and i took the demo's code (**index.html** and **index.js**)

### Summary

Im using Expo and i just took the code copy + paste and it doesn't work
I tryied to install storybook but it didn't solve my problem 👎

### Other information

![image](https://user-images.githubusercontent.com/36959155/53981855-c661e800-4113-11e9-9267-cd40960e6313.png)

[2019-03-09 00:47] stephenhuh commented on #312
Apologies for taking a while to return to this issue. I checked out the code you linked and passed through the props instead. It seems to be working currently.

I see now that the docs _do_ say:
[code]

I did notice this convention of adding the `stripe_account` as a param for the Stripe API (which is really convenient) but didn't expect the same param `stripeAccount` for React-Stripe-Elements. Th

[2019-03-11 21:28] bkrall commented on #318
Hi @atty-stripe - is the only way on web to use Apple Pay then to get a valid shipping address first? We were hoping to save the shipping address directly from Apple Pay.

[2019-03-11 23:38] atty-stripe commented on #318
@bkrall The `shippingaddresschange` event will have a subset of the shipping address, but the `token` or `source` object will have the complete address. So you can certainly depend on Apple Pay for the full address.

[2019-03-12 02:05] isuruAb commented on #322
Is there a way I can hide by passing a prop to the element ?

[2019-03-12 02:17] bkrall commented on #318
@atty-stripe thanks, that's encouraging.

right now in the `token` object I'm seeing all of these address fields as null, I have a shipping address for the card in Apple Pay but I'm not seeing it come through in the `token`, anything else I should check? Getting a valid token back using this method: https://stripe.com/docs/stripe-js/elements/payment-request-button#complete-payment

[code]

[2019-03-12 07:56] atty-stripe commented on #322
@isuruAb, why not just not render the Element? Can you share a bit more about what you're trying to do?

(If you're looking to hide the postal code field in the combined `card` Element, you can pass in `hidePostalCode=true`).

[2019-03-12 08:42] klaaspieter commented on #52
I also think a mock version could be useful. This is how I currently mock Stripe in jest. It was loosely based off of @tarjei's example:

[code]

[2019-03-12 11:36] dalba1992 commented on #328
This is very important this, I think so.
If possible, I want to hide the CVC part in CardElement
How can I do so?
Please help me.

[2019-03-12 15:22] asolove-stripe commented on #328
Hi @dalba1992, there is no way to do this with Stripe Elements. Is there a particularly strong reason you need to do so?

[2019-03-12 18:14] Sturgelose opened #331 "[Question] Which queries can be cached by a PWA?"
### Summary

First of all, thanks for your platform, is amazingly easy to use :)

Anyways, we have a PWA in our company and we are using Stripe on it.
I'd like to optimize a bit the queries that Stripe does back to its servers, but of course, I do not want to break or somehow make insecure my transactions.

So: which queries can be cached by the Service Worker? Or, maybe, should we just set the de

[2019-03-12 18:48] fmvilas commented on #20
@atty-stripe are you working on a solution for this? It's blocking donations on opencollective.com and you know how crucial a single donation can be for open source projects :/

[2019-03-12 19:12] atty-stripe commented on #20
@fmvilas can you share the BIN (first 6 digits) for the card number that's having an issue? We do not yet have a long term solution here. You can always choose to not collect postal code info (although we don't recommend it) by passing in `hidePostalCode: false`, or can build your own postal code input as well.

[2019-03-12 19:16] atty-stripe commented on #331
Hi @Sturgelose, as far as I'm aware, I don't think your PWA or service worker can operate on network requests made by Stripe iframes, as they are on a different origin. Rest assured that we do our best to keep requests secure and performant, and you should be able to use this library out of the box.

[2019-03-12 19:16] #331 closed

[2019-03-12 19:56] seppar93 opened #332 "Displaying two checkout forms"
So currently, I have my checkout form that works fine using the test token. However, I'm trying to create a change payment option where I followed the exact steps in the documentation to create a new checkout form but I receive stripe injection error. Is it possible to have two checkout form?

[2019-03-13 01:41] dalba1992 commented on #328
Thank you for your reply.
Honestly, I need to hide the CVC part in card element for the security.
Please let me know how I can do so.
Regards.

[2019-03-13 17:43] #332 closed

[2019-03-14 10:30] dalba1992 opened #333 "I need to hide the CVC part on CardElement component."
### Summary

Dear guys,
I am using this component for my project.
CardElement component is good for me, but from security problem, I need to hide the CVC part.
I tried much time by myself, but can't find solution.
Please help me to hide the CVC Part.
I need other functions of CardElement. (Only need to hide the CVC Part).
Thank you.
Regards.
### Other information

![image](https://user-images.gith

[2019-03-14 10:47] ImJacobChen commented on #286
Apologies for the re-post but any updates on this?

[2019-03-14 15:26] asolove-stripe commented on #286
Hi all! This repo is a great place to ask questions about react-stripe-elements, but not the best way to get support on other Stripe APIs like Subscriptions. Please see the [Stripe Support](https://support.stripe.com/) site for information on ways to reach people who can help you with other Stripe APIs.

[2019-03-15 00:47] arronhunt commented on #318
Thanks @atty-stripe, I was indeed incorrectly listening to the shipping address change and not looking at the token returned.

[2019-03-16 06:29] kasongoyo commented on #15
`<CardElement onReady={(element) => this._element = element} />` doesn't work like expected. On render `this._element` loose the reference to the element and onReady doesn't seem to run on element rerender so at the end `this._element` will have no reference. Any work around?

[2019-03-18 23:54] ravenwilde opened #334 "CardElement .StripeField--fake input appears after autofill"
### Summary

In our application we are consistently experiencing a bug in the `CardElement` where the `<input class="Stripefield--fake" element is visible (see screenshots below). This occurs after the card number field has been auto-filled by Chrome's payment info manager. Since this element is within the iframe, I can't figure out a way to hide it. Is there a style prop that I need to pass to ma

[2019-03-19 03:57] atty-stripe commented on #334
Hi there! Thank you for bringing this to our attention. I'm not able to reproduce this behavior on Chrome on our example site: https://stripe.dev/elements-examples. What versions of Chrome / operating system are you using?

[2019-03-19 15:36] ravenwilde commented on #334
The bug is not appearing for me on the demo site either, only on our implementation.

I am testing on Chrome 72.0.3626.121 macOS Sierra 10.12.6

[2019-03-19 17:11] atty-stripe commented on #334
Could you share a link to your site or a jsfiddle with a reproduction?

[2019-03-19 19:36] ravenwilde commented on #334
It won't repro in jsfiddle, the site is app.farmlogs.com, you would need to sign up for a free account and navigate to `https://app.farmlogs.com/#billing`. I'm sorry for the inconvenience.

[2019-03-20 18:19] atty-stripe commented on #334
I'm able to reproduce on your site! A cursory analysis shows that the hidden input we use for autofill is being stripped of styles (the input you've highlighted in screenshot above.) I see that you're using FullStory in your application — could you try and disable that and see if that fixes it? Will also continue investigating.

[2019-03-20 19:15] binaryst4r opened #335 "Cannot call paymentRequest.show() with Apple Pay, Google Pay works fine. Using React"
Using the react StripeElements `PaymentRequestButtonElement` to complete a checkout on our app. Basically im trying to use `paymentRequest.show` to trigger the dialog manually (async after performing some address validation actions).

With google, im able to pass the paymentRequest object as an argument and then trigger the `show()` function after doing what i need to do and all is well. For whate

[2019-03-20 19:17] atty-stripe commented on #335
Unfortunately it is a requirement for `show` to be called from within a user gesture handler for Apple Pay. This is documented here: https://stripe.com/docs/stripe-js/reference#payment-request-show.

[2019-03-20 19:17] #335 closed

[2019-03-20 19:19] atty-stripe commented on #335
Can you share more about when and how you're triggering your async call? Is it possible to wait for that to happen first, and only then show the Apple Pay button?

[2019-03-20 20:11] binaryst4r commented on #335
I am using the Payment Request button to trigger its onclick, in the onClick handler I have the async logic and subsequent call.

Here is the code:
[code]
handleInstantPayButtonClick = (e) => {
    e.preventDefault()
    makeApiRequest().then((response) => {
       this.state.paymentRequest.show()
   }
}
[code]

[2019-03-20 20:16] binaryst4r commented on #335
@atty-stripe I am doing the call in the onClick provided by the docs, see above.

Thank you.

[2019-03-20 20:35] atty-stripe commented on #335
Got it. That flow is not supported, unfortunately. Without additional details on what your API request does, I would recommend doing it before the button is shown, or after you receive a source / token.

[2019-03-20 20:36] binaryst4r commented on #335
Gotcha, thanks for the response.

[2019-03-20 21:22] Dasyel opened #336 "Syntax Error"
### Summary

I'm following the steps in your README to setup Stripe elements in my React app but it won't compile.

[code]

Obviously I'm missing some dependency or I'm on a wrong version of React. So it seems the guide in your README is not complete with all required steps. What am I missing here?

[2019-03-20 21:25] atty-stripe commented on #336
Can you share what your code looks like (specifically, where you are importing components from react-stripe-elements)? Also, does your build tool attempt to compile files within `node_modules`?

This looks like an issue with your build tool attempting to do so, and being unable to parse the `type ElementContext` import, which is for the Flow type system used internally by this project.

[2019-03-20 21:30] Dasyel commented on #336
I've set my project up with create-react-app. I didn't change any of the advanced stuff around building. I've also not had this problem with any other library yet. But it sounds very likely that it's trying to compile the node_modules.
I will look into if that's what's going on and if so how to turn it off.

[2019-03-20 21:37] atty-stripe commented on #336
Ok! If you can create a repo with instructions on a simple reproduction, happy to help debug.

[2019-03-20 21:40] Dasyel commented on #336
Ah I figured it out. Stupid mistake. My IDE added an import
`import injectStripe from "react-stripe-elements/src";`
instead of
`import injectStripe from "react-stripe-elements";

Sorry for wasting your time there.

[2019-03-20 21:45] #336 closed

[2019-03-25 06:22] yasso1am commented on #52
@klaaspieter Could you elaborate on this example? Where are you inputing your api key? Is this a class you've created? Currently all I'm trying to do is get the very first test that comes with React to pass, the 'it renders without crashing' test. I would love to have a mock wrapper that is initialized and will allow my app to build.

[2019-03-25 13:43] klaaspieter commented on #52
@yasso1am you don't need to provide a token if `stripe` is set on the `StripeProvider`. It's what makes [loading Stripe async](https://github.com/stripe/react-stripe-elements/tree/f01f09d3efbdc142fec30e9defb311e18302ac53#loading-stripejs-asynchronously) and [server side rendering](https://github.com/stripe/react-stripe-elements/tree/f01f09d3efbdc142fec30e9defb311e18302ac53#server-side-rendering-ss

[2019-03-25 17:08] mohammad-naji7 opened #337 "Refused to frame '' because it violates the following Content Security Policy directive: "frame-src https:"."
### Descripiton

We have the following issue when we try to use 3D secure
<img width="408" alt="Screen Shot 2019-03-25 at 5 58 18 PM" src="https://user-images.githubusercontent.com/13167378/54930048-9f831e80-4f27-11e9-831d-05b7658b4f9c.png">

There are no adblockers or any related extensions installed.

The issue happens on both chrome and safari browsers, with the following error messages:
Chrome

[2019-03-25 19:18] asolove-stripe commented on #337
Hi @mohammad-naji7, yikes, that doesn't look good! Let's see how we can fix that.

Can you tell us a little about what you are doing to get this to happen? (Even if it doesn't work every time.) It looks like you are using the PaymentIntent API from your server, and then calling `stripe.handleCardPayment`, which sometimes shows 3DS. Do you get this broken CSP issue immediately? Or are you first see

[2019-03-25 19:30] asolove-stripe commented on #337
Ah, ok, I was just able to reproduce by clicking the testmode authorize/fail buttons more than once. We will fix this shortly!

[2019-03-26 11:00] zakisaadeh commented on #337
@asolove-stripe Thanks a lot. When do you expect to have this fix released?

[2019-03-26 13:13] streamich commented on #322
@atty-stripe What is the correct way to determine if we need to collect post code information?

[2019-03-26 14:29] asolove-stripe commented on #337
I expect the fix to be out later today. In the mean time, just want you to know that this double-click problem is limited to the fake 3DS page we use in testmode and does not affect live transactions.

[2019-03-26 17:06] asolove-stripe commented on #337
@mohammad-naji7 @zakisaadeh We've launched a fix here that prevents you from double-clicking on those buttons. I can no longer reproduce the bug, so hopefully this fixes for you. Let me know if not and I can dig some more.

[2019-03-26 17:06] #337 closed

[2019-03-26 18:04] atty-stripe commented on #322
@streamich right now we recommend always collecting it as it helps detect fraud better. That said, we see banks in the US, UK, and Canada frequently implementing postal code checks, so you should at least collect it when the card's billing address is in those countries.

[2019-03-27 05:55] jonah-corbin commented on #327
I’m also having this issue on all mobile platforms @asolove-stripe

[2019-03-27 14:58] johnmosesman commented on #290
Just got around to trying this, yes it appears to be fixed. Thanks!

[2019-03-27 17:57] jonah-corbin commented on #327
I think I figured it out. I altered the ‘lineHeight’ and that fixed it for me.

[2019-03-27 18:07] streamich commented on #322
@atty-stripe sorry, to bother you again. The `card` Stripe element hides/shows the postal code input dynamically depending on the card number. What is that logic? Is it based on country?

[2019-04-01 06:24] BalkrishnaBhatt commented on #333
Same as #328

[2019-04-01 11:05] tj commented on #317
👍 I think injectStripe() is getting in the way of using `React.forwardRef()` in my case

[2019-04-01 14:48] asolove-stripe commented on #333
Hi @dalba1992: is the problem that you don't want to collect CVC at all? Or that you want the CVC value the user types in to be hidden, like a password field? (That would be the same as #328)

[2019-04-01 20:45] asolove-stripe commented on #329
Hi @Dorian942, sorry you're having trouble with this. It's hard for me to say what's going wrong here. The index.js file in `demo` depends on a lot of details of the babelrc and other config files in this repo. Did you copy this and install dependencies, too?

If you're looking to try this out in the easiest way possible, there are some examples [over on stripe.dev](https://stripe.dev/react-stripe

[2019-04-01 20:45] #329 closed

[2019-04-01 20:48] asolove-stripe commented on #320
@IreneIrene I think you want to use the same strategy: render the PaymentRequest button inside the right element after `canMakePayment` and then have that element be visible or invisible via css.

[2019-04-01 20:48] #320 closed

[2019-04-01 21:02] asolove-stripe commented on #334
Hi @ravenwilde: I was just going to dig into this and see if we could figure out what's going on, but it looks like I can no longer reproduce the issue. Do you still see this happening? Or did you change something on your side that fixed it?

Thanks!

[2019-04-01 22:07] asolove-stripe commented on #312
@stephenhuh Thanks for this suggestion! I've just opened a PR to improve the docs for this. Please comment on whether that would have helped you or not. Since that docs PR is the action item out of this Issue, I'm going to close this, but feel free to re-open if you run into anything else related.

[2019-04-01 22:07] #312 closed

[2019-04-01 22:09] stephenhuh commented on #312
Awesome @asolove-stripe and thanks for taking the time to do that.

[2019-04-01 23:42] dancrew32 opened #339 "Force PostalCodeElement to be type="tel" input"
I understand that the`<PostalCodeElement />` does not have numerical input due to non-US zip codes that contain alpha characters. Say that I'm only using `<PostalCodeElement />` with US customers. How can I force this element to accept numerical input on mobile web? The `tel` numpad is preferable. Thanks for your help!

[2019-04-02 02:21] asolove-stripe commented on #339
Hi @dancrew32: there is not currently a way to do this when using the separate `PostalCodeElement`. We do automatically select the right format/keyboard for the postal code field when it is part of the combined single `CardElement` but there are some pitfalls when using separate elements that make it a bit dangerous for us to expose this.

If you want to do per-country postal code entry optimizati

[2019-04-02 02:24] asolove-stripe commented on #309
Hi, I'm going to close this issue since we haven't heard enough details to investigate further. But please feel free to add more detail here or open a new issue if this is still occurring.

[2019-04-02 02:24] #309 closed

[2019-04-02 02:25] asolove-stripe commented on #294
I am going to close this issue as it represents work we will eventually do but only as we learn more about React's deprecation timeline.

[2019-04-02 02:25] #294 closed

[2019-04-02 02:40] asolove-stripe commented on #221
Hi all, just a quick update here. There are two issues and one is not fixable but the other is now fixed!

- One problem is that you can't load fonts from http origins inside an Element in development. This is unfortunately not something we can fix (Elements are iframes loaded from https and there is no way they can let them load something via http.)
- But the second, and maybe more annoying, prob

[2019-04-02 02:40] #221 closed

[2019-04-02 03:02] asolove-stripe commented on #295
Hi there, @IanLunn, thanks for reporting this!

We've taken a deeper look at the report from this scanner tool and do not think that these are actual issues that impact accessibility or actually violate appropriate standards. That said, we are open to hear feedback if these represent actual accessibility problems.

1. `autocomplete=cc-number`. Getting the `autocomplete` attribute wrong on a credit

[2019-04-02 03:02] #295 closed

[2019-04-02 09:29] SergeyShablenko commented on #40
Hi, I`m having similar issue

My component is exported like this
![Selection_258](https://user-images.githubusercontent.com/13334277/55391647-77f10f00-5542-11e9-8ca6-0548acb46877.png)

this is how it looks on page structure, Provider is StripeProvider, just renamed it
![Selection_259](https://user-images.githubusercontent.com/13334277/55391653-7aebff80-5542-11e9-9cae-ae5c007943b2.png)

there is an

[2019-04-02 15:07] #339 closed

[2019-04-02 15:10] asolove-stripe commented on #266
It looks like you are using Stripe.js and Stripe Checkout. This repo is specifically for using the React wrapper for Stripe Elements. If you're having trouble with Checkout, please contact [Stripe Support](https://support.stripe.com/).

[2019-04-02 15:10] #266 closed

[2019-04-02 15:12] asolove-stripe commented on #52
@klaaspieter: interesting solution to this problem, thanks for sharing!

[2019-04-02 15:15] asolove-stripe commented on #225
Hi all! After further thought, and not making progress on this in more than a year, I think I'm going to close this issue for now.

I admit that accepting a `locale` prop and not letting it update is not ideal. But having `locale` update by completely reloading the element is a big footgun with unexpected UI and performance implications.

[2019-04-02 15:15] #225 closed

[2019-04-02 15:36] ravenwilde commented on #334
@asolove-stripe we rolled out a new form that no longer uses the `CardElement` component. We're now just using `CardNumberElement`, `CardExpiryElement`, `CardCVCElement` and I can no longer reproduce the issue either.

[2019-04-02 15:42] asolove-stripe commented on #334
Great, I'm glad it's fixed!

[2019-04-02 15:42] #334 closed

[2019-04-03 01:52] #333 closed

[2019-04-04 06:53] scottwilson312 opened #340 "CVV input requiring more than 3 digits on a VISA"
I've had a few reports from users where they were unable to create tokens because the CVV input required more than 3 digits, despite their cards having only 3 digits CVVs.

I'm aware that with AMEX, etc. that CVVs aren't always 3 digits, however these users assured me they were using VISA.

Normally I'd dismiss this as user error, but I got 3 reports in one evening after everything working smoothl

[2019-04-04 16:01] SergeyShablenko opened #341 "createTokening with IbanElement failed"
I'm trying to tokenize iban input, but it throws me error

![Selection_280](https://user-images.githubusercontent.com/13334277/55570041-4e371400-570b-11e9-99d0-cd48fd8a5485.png)

Element initialized like this

![Selection_281](https://user-images.githubusercontent.com/13334277/55570082-5e4ef380-570b-11e9-8ee6-f54cd4825e06.png)

to tokenize I'm doing this

[code]

How can I add currency to the data

[2019-04-04 16:36] SergeyShablenko commented on #322
How to add postal code to tokenization process if this component is going to be removed?

I mean, there is no way to add extra data to stripe.createToken() without providing element as first argument

[2019-04-04 17:49] asolove-stripe commented on #340
@scottwilson312: Yikes, that's not good! I'm trying to reproduce this and see what our logic is for CVV length and will let you know if I find anything.

Unfortunately, if you're requiring CVV and we're errorring on it being incomplete, there is no way for you to get the BIN or any other card information. I apologize that our support team asked you for this, as I don't think it's possible (without

[2019-04-04 17:53] asolove-stripe commented on #341
Hi @SergeyShablenko! The method you're calling as `this.props.stripe.createToken` accepts the same parameters as `stripe.createToken`, just with the type and any data collected by the Element filled in.

So I think you want to call:

[code]

Which React Stripe Elements will turn into a call something like

[code]

Hope that works! Let us know if you run into any further problems.

[2019-04-04 17:53] #341 closed

[2019-04-04 18:15] asolove-stripe commented on #340
@scottwilson312 Hmm I've tried with a variety of cards across several different places and am unable to reproduce this error. I also don't see evidence in our code that we ever require more than 3 digits in the cvc or in our logs that we are rejecting more cards than normal.

- Are you using the single Card element or the split number, expiry, cvc, elements?
- Do you know anything about the users

[2019-04-04 19:08] scottwilson312 commented on #340
@asolove-stripe Thanks for responding. We are using  the number, expiry and cvc elements.

I don't know anything about the users other than they were located in the US. This happened a couple weeks back. We never had this issue before then it popped up a couple times in one evening, so I have a feeling it was possibly just transient.

I'll re-enable CVV and will closely monitor any tokens being de

[2019-04-05 15:53] asolove-stripe commented on #340
@scottwilson312: Great, please do let us know if you see any issues. I'm going to close this issue, as this wouldn't really be a bug with React Stripe Elements. But do contact support and reference this issue (and me!) if you need to escalate a problem with Stripe.js.

[2019-04-05 15:53] #340 closed

[2019-04-11 15:24] MikaelConecto commented on #26
Nothing works for me

`onReady={this.cardElement} // with  this.cardElement = React.createRef(); in constructor`
`onReady={(c) => this._element = c}`

`elementRef={this.cardElement} // with  this.cardElement = React.createRef(); in constructor`
`elementRef={(c) => this._element = c}`

[2019-04-11 20:02] atty-stripe commented on #322
@streamich the `card` Element uses the card number's BIN (first 6 digits) to predict which country it belongs to, but this is error-prone as documented in #20. We recommend specifically asking your users for the billing country, and using that to ask for the postal code.

@SergeyShablenko `stripe.createToken` accepts the postal code as `address_zip`. When using react-stripe-elements, the Element i

[2019-04-17 08:45] sunshineo opened #348 "Is it possible to have something like this PayPal react project"
https://github.com/thinhvo0108/react-paypal-express-checkout

My experience with react-paypal-express-checkout is much better than here. After 3 layers of components, all I got are some boxes all messed up on my page. Likely something to do with the react-bootstrap I have in the project.

But with react-paypal-express-checkout , just couple lines of code and you got a working button. Is there some

[2019-04-17 17:20] fred-stripe commented on #348
Hi @sunshineo! I think that's a good suggestion, however, I'm not sure it's a good fit for this library. We designed Stripe Elements for making custom payment fields on an existing checkout form, whereas PayPal Express Checkout appears to add a single button to the page.

This library is a set of React components for integrating credit card fields into an existing React form, which allows full cus

[2019-04-17 17:20] #348 closed

[2019-04-17 17:51] sunshineo commented on #348
@fred-stripe Thank you very much for your answer. Do you know if there is any existing repo like that for stripe?

[2019-04-17 18:14] fred-stripe commented on #348
There is not at this time. For now I'd recommend following the Checkout
instructions and building your own component around the Checkout Javascript
API. As I said—this may be something that we build in the future, but I
don't have a definite timeline for when it'd be available.

On Wed, Apr 17, 2019 at 1:51 PM Gordon Sun <notifications@github.com> wrote:

[2019-04-17 21:44] sunshineo commented on #348
Thank you @fred-stripe for pointing out a direction for me. I'll try to wrap Checkout in a react environment

[2019-04-18 11:46] DiagoSmith commented on #286
How would this work if you're using multiple individual elements? I read somewhere that one element will act as a reference for any of the neighboring elements but is this correct?

[2019-04-19 06:55] nojvek commented on #66
I'm getting a similar error `We could not retrieve data from the specified Element. Please make sure the Element you are attempting to use is still mounted.`

Using snabbdom though. Seems like stripe doesn't play nice with vdom libraries

[2019-04-21 09:44] edward-hong opened #349 "Minor typo in the documentation"
Hi there's a minor typo in the documentation: instead of 'create-react-app' it says 'create react-app' there's a hyphen missing on [this page](https://stripe.com/docs/recipes/elements-react) under step 1:

![Screen Shot 2019-04-21 at 9 26 36 PM](https://user-images.githubusercontent.com/16217130/56468296-916ce300-647e-11e9-87af-29ff770a46a7.png)

[2019-04-23 03:35] zohaib10 opened #350 "<PostalCodeElement /> throws an error. Was working fine in the morning but got messed up after an 'npm install --save react-stripe-elements' just now."
All other Elements are working fine but

`
   <PostalCodeElement
      onBlur={this.handleBlur}
      onChange={this.handleChange}
      placeholder='Zip code'
      {...createOptions()}
     />
`

is causing the code to break. This page was working fine in the morning. But I had to reinstall the package about an hour ago and it started giving the error (Other than that I have made no code changes

[2019-04-23 03:40] zohaib10 commented on #350
https://github.com/stripe/react-stripe-elements/issues/322 Just saw this lol

[2019-04-23 03:40] #350 closed

[2019-04-23 19:11] dancrew32 commented on #339
@asolove-stripe sorry to bug again but I saw:
https://github.com/stripe/react-stripe-elements/blob/master/CHANGELOG.md#v300---2019-04-17

[code]

Looking at the code snippet:

[code]

I'd appreciate help determining the best way to obtain the `card` variable referenced in this exercise when the form could previously have looked like the following with no `card` variable.

[code]

If I change to:

[2019-04-23 20:12] zackshapiro opened #351 "Server-side rendering exception: ReferenceError: window is not defined"
### Summary

I'm getting intermittent failures where my app will stop working entirely and I'll the the following error:

To remedy I have to comment out the two files where I import this library, restart my front-end server, refresh the page (works), comment the code back in, refresh the page and now I won't get an error.

Both references to `react-stripe-elements` are in components which are obv

[2019-04-23 20:24] atty-stripe commented on #351
Per https://github.com/stripe/react-stripe-elements#server-side-rendering-ssr, this library does not natively support server side rendering. We ask that you follow the instructions in the link to only render the components on the client.

[2019-04-23 20:24] #351 closed

[2019-04-23 20:27] zackshapiro commented on #351
Thanks @atty-stripe but as I mentioned in my issue

[2019-04-23 20:28] dweedon-stripe commented on #339
Hi @dancrew32, sorry for the confusion! We should have documented this better. Going forward we suggest that you pass in the postal code, name, and other relevant customer data directly to your call to `createToken`, `createSource`, or `createPaymentMethod`.
### PaymentMethods
Using the `billing_details` field with `stripe.createPaymentMethod`
[Stripe.js Reference](https://stripe.com/docs/stripe-j

[2019-04-23 20:29] atty-stripe commented on #351
Ah, I misunderstood, sorry. Is the `Provider` also being only mounted client-side? It looks like that's the component accessing `window`.

[2019-04-23 20:30] zackshapiro commented on #351
You understood correctly, I didn't proof read. My fault 😅

Yes, the `Provider` is being mounted client-side

[code]

[2019-04-23 20:34] atty-stripe commented on #351
Hmm, if all components are being mounted client-side, then I'm not sure where the error is coming from, especially given it mentions `Server-side rendering exception`. Is that error being thrown on the client or on your Node server?

Is it possible for you to create a minimal reproduction in a GitHub repo?

[2019-04-23 20:36] zackshapiro commented on #351
Error is being thrown on my client server.

If I comment out the `import` from `react-stripe-elements`, and just return a `<div>` from that component, and comment out everything in `CheckoutForm` also pertaining to `react-stripe-elements` and restart my client server, page loads fine. When I uncomment them and restart, it breaks again. It's very strange.

Recreating in a minimal repo is going to b

[2019-04-23 20:38] zackshapiro commented on #351
FWIW, until I posted this, this was working intermittently, I could comment out, restart, comment in and restart and it would work for a bit, then break. Now it just straight up doesn't work. I haven't changed the components at all in that time, been working in other parts of my app, namely the controller that actually does the charge.

[2019-04-23 20:43] zackshapiro commented on #351
I've narrowed it down a bit.

It must have something to do with the `StripeProvider`. As soon as the `StripeProvider` is commented in, the error occurs. When it's commented out, the page loads fine.

[2019-04-23 20:46] dancrew32 commented on #339
Nice! Thank you for the examples.

We just needed to add explicit error handling when `error.type` is `postal_code_invalid` via (https://stripe.com/docs/error-codes)

[code]

[2019-04-23 20:49] atty-stripe commented on #351
To be clear, is it the `import` that is causing errors, or the fact that you're rendering the `StripeProvider` in the exported function?

Also, can you share the code where you're actually rendering the exported component? It should only be mounted on the client.

[2019-04-23 20:52] zackshapiro commented on #351
It's the fact that I'm using the `StripeProvider`. If I comment out that line but leave in the `import,` the front end renders fine.

In another component (again, rendered front-end), I `import ChargeProvider from 'app/payments/components/StripeProviderWrapper';` and then use it as `<ChargeProvider />` in a `render` function. Nothing crazy

[2019-04-23 20:56] atty-stripe commented on #351
I'm sorry, but it looks like your SSR framework is trying to mount the component somewhere, resulting in the error you see (which is not thrown by this library).

So if you can share the code for the parent component that is importing and rendering this component, I can help you debug. What you need to do is to `setState({ renderElements: true })` in `componentDidMount`, and only if `renderElement

[2019-04-23 21:08] zackshapiro commented on #351
Thanks @atty-stripe. That seemed to do the trick, I'll have to dig deeper into the other aspects of how we render to see what's going on here. When I have some more info, I'll report back to hopefully help anyone else dealing with this in the future. For now, your last comment worked. Appreciate your time and help, have a great day!

[2019-04-23 21:39] dweedon-stripe commented on #339
Looks great! Keep in mind you can also do your own client-side validation if you know what your customer's postal code format should be.

[2019-04-26 02:36] fholgado opened #352 "Either StripeProvider or InjectStripe is stripping child component props"
### Summary

Hi folks! I am attempting to pass props to a child node of `<StripeProvider />`. It seems like as part of transforming the child object, props are not being re-applied to the child as it's rendered. I am following the structure shown in the readme. Example:

In parent component:
[code]

In `<CheckoutForm />`, I'm exporting the component using `injectStripe`.
[code]
Inside `CheckoutFor

[2019-04-26 18:08] ejcho623 commented on #284
For what it's worth, I found that using the paymentRequest.update() method will update the underlying price without a re-render.

[2019-04-30 12:22] wayne-o commented on #216
Would love to know if this has been fixed - also why is it closed if it's not?

[2019-04-30 12:34] bennypowers commented on #216
It's worth mentioning that the workaround we use in `<stripe-elements>` breaks the tab order, as well.

[2019-04-30 12:36] wayne-o commented on #216
@bennypowers  - does it also break the PCI compliance side of things or is that ok?

[2019-04-30 13:27] wayne-o commented on #216
@bennypowers  Mind if i port that component to svelte?

[2019-04-30 17:07] bennypowers commented on #216
Won't break PCI, since even with my component, your users are still entering their numbers into an iframe to stripe.com.

but without proper tab order, it is inaccessible. You'll probably need some vile tabindex hacking, either that or very careful dom placement to get it to work the way you'd expect.

But i'd be happily proven wrong. all of ☝️ is based on my experience using `<stripe-elements>` i

[2019-04-30 17:53] atty-stripe commented on #216
Hi folks, we don't have any updates regarding shadow DOM support yet. It should still be possible to use Elements without the shadow DOM, so hopefully you're not blocked from integrating Stripe altogether (or forced to fall back to higher levels of PCI).

We'll post here if/when we have updates on shadow DOM support.

[2019-05-03 20:10] davidpatters0n commented on #66
It is very well possible to reproduce this issue assuming the following happens:

1. You're online, you pull down the https://js.stripe.com/v3/ and instantiate a stripe instasnce
2. You go offline
3. Render the checkout button and then hit Submit

As an example here: ![](http://g.recordit.co/IWbsTuuJ7N.gif)

Here's the supporting gist for the recording above: https://gist.github.com/davidpatters0n

[2019-05-04 02:59] davidpatters0n commented on #249
Is there a reason why this was closed ?

[2019-05-06 16:10] asolove-stripe commented on #349
@edward-hong Thanks for the report! I'm going to deploy a fix there shortly.

[2019-05-06 16:10] #349 closed

[2019-05-06 16:21] asolove-stripe commented on #349
@edward-hong: Actually, this is correct as-is. You can run `create-react-app` as a binary or if running through yarn, you can run [`yarn create react-app`](https://github.com/facebook/create-react-app#yarn).

[2019-05-06 17:39] dweedon-stripe commented on #322
Resolved with 346

[2019-05-06 17:39] #322 closed

[2019-05-07 03:06] asolove-stripe commented on #352
@fholgado Yikes, that's no good. I have a failing test for this and it's definitely `injectStripe` that is stripping the props. I'll work on a fix and hope to have it released before too long.

In the interim, I hope you found a solution by juggling the way props get passed down in your application.

[2019-05-07 10:35] fholgado commented on #352
Thanks so much! I have a workaround I can use in the meantime, but it involves saving state to the ‘window’ object, so it’s not great 😂

––
Fed
On May 6, 2019, 11:06 PM -0400, Adam Solove <notifications@github.com>, wrote:

[2019-05-07 11:31] erksch opened #354 "Is createPaymentMethod mandatory for handleCardPayment?"
Hey there!

First of all, thanks for the great work on this package!

I am trying to update to the new PaymentIntents API and I was successfully able to create a PaymentIntent on my server, send the `clientSecret` back to my react app and am now trying to use `handleCardPayment` to submit my payment form.

Since I was used to that react-stripe-elements handles injecting the card information into m

[2019-05-07 12:57] erksch commented on #354
Okay I tried using `createPaymentMethod` before but it is kind of the same problem. Now `createPaymentMethod` fails with
[code]

I am using `react-stripe-elements: v3.0.0` by the way.

[2019-05-07 17:04] asolove-stripe commented on #354
Hey @erksch: yikes, that's no good! Your original intuition is right that you should be calling `handleCardPayment` and that should forward along the card data from the Element. You shouldn't need to call `createPaymentMethod` yourself.

If it's alright with you, I'm going to reach out via email and get some details like transaction ids so I can look at what's happening here.

[2019-05-07 17:12] asolove-stripe commented on #354
@erksch: looks like there isn't an email on your profile. Can you email me at asolove@stripe.com with a PaymentIntent or Request Id that I can look at?

[2019-05-07 18:49] ozluy commented on #94
How about this?
https://medium.com/@ozluy/loading-stripe-script-if-necessary-189f228e0f34

[2019-05-07 18:50] ozluy commented on #307
https://medium.com/@ozluy/loading-stripe-script-if-necessary-189f228e0f34
how about this solution?

[2019-05-08 14:32] erksch commented on #354
Hey, thanks for the kind answer!

I somehow managed to get it working. The only thing I did change was updating the API version to the latest one in my stripe dashboard. But I guess this would not change a missing card parameter.

But it works now, so I'll close.
Keep up the great work!

[2019-05-08 14:32] #354 closed

[2019-05-08 14:48] erksch commented on #317
I have a suggestion to add that would be very handy, too!
If you have multiple components across your app accessing the StripeJs script and you always need to make sure the script is loaded, you write something like this multiple times (using hooks already):

[code]

I would be awesome if it were already built-in like this:

[code]

With the parameters being: `useStripeJs(scriptElementId, stripeAp

[2019-05-08 23:09] asolove-stripe commented on #352
Hey @fholgado could you share some of the code or a minimal reproduction? (Privately by email is fine if it's sensitive.) My supposed reproduction was actually just a poorly-written test. It appears that this currently works fine:

[code]

The `text` props gets passed down and render by the `Child`. I'm curious if you're doing something different from this or what specifically you are seeing.

[2019-05-09 02:07] fholgado commented on #352
Ok. Let's see:

I've got an `App/index.jsx` file that contains my router and app wrapper. One of the routes to my checkout form looks like this:

[code]
export default injectStripe(CheckoutForm);
[code]

[2019-05-09 07:08] razvan-soare commented on #74
Any updates on this ? +1

[2019-05-09 16:35] VitamintK commented on #136
Important to note that you have to pass `disabled: false` as the prop to undo a disabled state.  I was accidentally passing `disabled: undefined` as a prop after the previous value of `disabled` was `true`, and was wondering why it was still disabled.

[2019-05-10 11:56] 10chars commented on #314
@fred-stripe Hello, some of our users are reporting an issue with uBlock on Firefox blocking stripe and causing the elements not to render.

I could not reproduce the error on OSX but have confirmed the issue via our logs.

[code]

Thanks

[2019-05-11 05:55] avcohen opened #355 "PaymentRequestButtonElement doesn't load via ngrok"
### Summary
Issue : When using the demo repo provided with ngrok for HTTPS as advised in README, the `PaymentRequestButtonElement` does not show up.

I've made no alterations to the demo repo except adding my own test API key in all three locations.

I'm running ngrok with the `--host-header` flag : `ngrok http 8080 -host-header="localhost:8080"`

It seems the `paymentRequest.on('token', ({complet

[2019-05-11 22:02] atty-stripe commented on #355
Hi there, what browser are you using? Also, do you have a saved card in your browser? (In Chrome, you can add one in chrome://settings/payments).

Further instructions for the button to show up: https://stripe.com/docs/stripe-js/elements/payment-request-button#testing

[2019-05-11 23:40] avcohen commented on #355
Hi, Atty. Thanks for the quick followup.

I tried this on Chrome, Chrome Mobile, Safari and Safari Mobile (both mobile browsers were iOS). Yes, I do have some saved cards in my browser.

I'll take a peek at the docs noted with a fresh set of eyes and deploy my test version to my domain with a Let's Encrypt SSL and report back.

[2019-05-12 02:50] avcohen commented on #355
@atty-stripe I was able to deploy this evening to AWS S3 to a bucket that has a valid SLL cert and still no change.

[2019-05-12 05:34] asolove-stripe commented on #352
Ah, interesting! I had tried testing a provider with a child with a prop, and another parent passing a prop to the injected child. But this bug appears to happen only when it is exactly this setup: the provider with the injected component as its immediate child. I've now got a failing test and will look into a fix.

[2019-05-13 05:59] atty-stripe commented on #355
Do you have a repro URL or any console logs to share? Does the button show up on https://stripe.com/docs/stripe-js/elements/payment-request-button? If it does on that page but not yours, likely a problem with your payment methods setup.

[2019-05-13 15:51] asolove-stripe commented on #352
@fholgado When you try to run your code in the current state, do you see an error in the console that says something like:

[code]

[2019-05-13 17:35] fholgado commented on #352
Hey Adam. You were totally right. I missed the `<Element>` HOC when following the getting started guide. I didn't notice anything too weird in that scenario other than the `props` missing, and there was nothing in the console that was throwing a warning. Thanks so much for your help, and sorry for it being a dumb mistake on my part.

[2019-05-13 18:51] seppar93 commented on #283
@fred-stripe can you provide an example of this?

[2019-05-14 20:44] #352 closed

[2019-05-15 11:19] Stophface opened #356 "How to override default styles"
I am a little confused how to style the stripe input elements

This is the parent class Billing.

**Billing.jsx**
[code]
This is the CcCVC input field

**CcCVC.jsx**
[code]
My styles are applied to the wrapping `div`. When the filled input field is invalid, it uses my style AND this style `.InputElement.is-invalid` (which is applied directly to the `input`, not the wrapping div!), making the numbe

[2019-05-15 11:41] pitops commented on #278
thats an insane issue. Thanks for the fix

[2019-05-15 18:04] mlammert commented on #74
I completely agree with @chrismanderson.

If their marketing page and site banner/demo is going to show it working then there should be a way for it to work. I spent 3+ hours trying to figure this out and come to find out it is not possible even though it shows it.

I understand that the elements are vanilla, but it wouldn't be that hard to have a boolean setting for this.

Love Stripe, but this i

[2019-05-15 23:01] jimhill commented on #354
Hey there, we have the same issue. No card details present. We were also on an older API (if that _is_ the issue) and although switched in the dashboard, there is no `setApiVersion ` as suggested in https://stripe.com/docs/building-plugins#set-api-version

[2019-05-16 09:38] jimhill commented on #354
In case you land here with the same issue and are using hooks, here's a workaround for the short-term that we are using:

Card in state:
`const [card, setCard] = useState(null);`

Set the state when the card element loads:
`<CardElement onReady={el => setCardRef(el)} />`

And wherever you are sending:
[code]

Hope that helps.

[2019-05-17 21:23] bfricka commented on #235
Actually, the better solution would be allow Stripe instances to be destroyed and garbage collected. I've found some workarounds to completely remove Stripe without reloading, but it's very very frustrating. The thing is, these persistent iframes take up a few MB each of JavaScript VM memory alone. The process memory is going to be implementation dependent, but in Chrome, the controller + metrics

[2019-05-19 16:23] avcohen commented on #355
There seems to be some inconsistency on my end between when the Payment Request button would show up + a possible misunderstanding on my part of what constitutes a 'Saved Card'

I looked into my saved payment methods in Chrome and they were synced from my Google Wallet account. While this didn't seem to pose any issue on the Codepen posted, at least insofar as getting he button to show up, the pay

[2019-05-20 22:18] danielnho22 opened #357 "CardElement fields not focusing on a quick tap (Safari, on iOS)"
### Summary

When focusing the textfield on a CardElement it either takes 2 quick taps or 1 longer tap. The quick tap calls the onFocus function, but doesn't focus the field. After the element is focused, I can focus the textfield by tapping again. Pressing and holding a card element until the textfield highlights also lets me focus the textfield.

### Other information

I have only experienced th

[2019-05-27 10:52] suberg commented on #125
Hi @atty-stripe, this doesn't work for me, because of an error: "The type `sepa_debit` is not a valid source type". Is there any other way to create custom IBAN field?

[2019-05-27 18:39] atty-stripe commented on #125
Hi @suberg, what specifically does not work for you? The codesandbox example I linked still works to create `sepa_debit` Sources. The jsfiddle you linked seems to be for creating `bank_account` tokens, which also works.

Can you create a minimal reproduction of your issue using codesandbox or jsfiddle and share here?

[2019-05-28 10:36] bradlocking commented on #356
Would be great if there were any additional pointers for this ^

[2019-05-28 14:52] atty-stripe commented on #356
@bradlocking here's a link to our reference that covers this: https://stripe.com/docs/stripe-js/reference#element-options.

Each Element has an outer container div that your classes are applied to, and an inner input that is rendered within an iframe (for PCI compliance reasons). As such, your classnames do not apply to the inner input. To style the inner input, you must specify styles through Jav

[2019-05-28 14:52] #356 closed

[2019-05-29 10:59] MaffooBristol commented on #222
Just as a sidenote, I'm using uBlock Origin and I get a load of these errors, but the functionality still seems to work fine

[2019-05-29 20:08] #355 closed

[2019-05-30 00:18] ijongkim opened #358 "This Element has already been destroyed. Please create a new one."
### Summary
Not sure if this is an issue with react-stripe-elements library but we are seeing this error in our React app using react-stripe-elements.

Upon a successful update of a user's payment token we are seeing the following error reported in Sentry:
[code]

It doesn't seem browser-specific as we've seen errors reported in Safari and Chrome for both desktop and mobile clients.

My best guess